<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="providerPayment">
            <h2><span>Provider Payment</span> {{providerPayment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Amount To Pay</span></dt>
                <dd>
                    <span>{{providerPayment.amountToPay}}</span>
                </dd>
                <dt><span>Amount Payed</span></dt>
                <dd>
                    <span>{{providerPayment.amountPayed}}</span>
                </dd>
                <dt><span>Emission Date</span></dt>
                <dd>
                    <span>{{providerPayment.emissionDate}}</span>
                </dd>
                <dt><span>Document Code</span></dt>
                <dd>
                    <span>{{providerPayment.documentCode}}</span>
                </dd>
                <dt><span>Glosa</span></dt>
                <dd>
                    <span>{{providerPayment.glosa}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="providerPayment.image">
                        <a (click)="openFile(providerPayment.imageContentType, providerPayment.image)">
                            <img [src]="'data:' + providerPayment.imageContentType + ';base64,' + providerPayment.image" style="max-width: 100%;" alt="providerPayment image"/>
                        </a>
                        {{providerPayment.imageContentType}}, {{byteSize(providerPayment.image)}}
                    </div>
                </dd>
                <dt><span>Document Type Purchase</span></dt>
                <dd>
                    <div *ngIf="providerPayment.documentTypePurchaseId">
                        <a [routerLink]="['/document-type-purchase', providerPayment.documentTypePurchaseId, 'view']">{{providerPayment.documentTypePurchaseId}}</a>
                    </div>
                </dd>
                <dt><span>Payment Type</span></dt>
                <dd>
                    <div *ngIf="providerPayment.paymentTypeId">
                        <a [routerLink]="['/payment-type', providerPayment.paymentTypeId, 'view']">{{providerPayment.paymentTypeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/provider-payment', providerPayment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
