<mat-card style="max-width: 695px;" *ngIf="venta && cliente">
  <mat-card-content>
    <div class="mb-1">
      <h1 class="mt-0" (click)="print()">
        <strong>PRO ECONOMICA S.A.C.</strong>
      </h1>
      <div fxLayout="column">
        <span>CAL. ALFONZO UGARTE NRO. 127 - LORETO BELEN</span>
        <span>949451724</span>
        <span>RUC: 20603441223</span>
        <span>{{venta.tipoDeDocumentoDeVentaNombre}}</span>
        <span>{{venta.codigo}}</span>
      </div>
    </div>

    <div fxLayout="row wrap">
      <div fxFlex.gt-xs="50" fxFlex="100">
        <h4 class="font-bold"></h4>
        <div fxLayout="column">
          <span>Fecha: {{getFormatedDate()}}</span>
          <span>Nombre o Razón Social</span>
          <span>{{venta.clienteNombre}}</span>
          <span>Dirección</span>
          <span>{{cliente.direccion}}</span>
        </div>
      </div>
      <div fxFlex.gt-xs="50" fxFlex="100" class="text-right">
        <h4 class="font-bold"></h4>
        <div fxLayout="column">
          <span></span>
          <span>DNI/RUC</span>
          <span>{{venta.amortizacions[0].codigoDocumento}}</span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-content class="table-rasponsive">
    <ngx-datatable class="material" [rows]="venta.productoDetalles" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="0" [rowHeight]="'auto'">
      <ngx-datatable-column name="Descripción" [flexGrow]="4">
        <ng-template ngx-datatable-cell-template let-row="row">
          <strong>{{row.productoLabel}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="P.U." [flexGrow]="1">
        <ng-template ngx-datatable-cell-template let-row="row">
          <strong>{{row.precioVenta}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Cant." [flexGrow]="1">
        <ng-template ngx-datatable-cell-template let-row="row">
          <strong>{{row.cantidad}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Total" [flexGrow]="1">
        <ng-template ngx-datatable-cell-template let-row="row">
          <strong>{{parseFloatCustom(row.precioVenta * row.cantidad)}}</strong>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>

  <mat-card-content>
    <div fxLayout="row wrap">
      <div fxFlex.gt-xs="50" fxFlex="100">
        <div fxLayout="column">
          <span>ITEMS: {{venta.productoDetalles.length}}</span>
          <span>FORMA PAGO: {{venta.tipoDePagoNombre.toUpperCase()}}</span>
        </div>
      </div>
      <div fxFlex.gt-xs="50" fxFlex="100" class="text-right">
        <div class="d-flex align-items-center">

          <div class="text-right ml-auto">
            <h6 class="text-uppercase text-md ma-0 text-bold">Subtotal :</h6>
            <h6 class="text-uppercase text-md ma-0 text-bold">Tax ({{venta.impuesto}}%) :</h6>
            <h6 class="text-uppercase text-sm ma-0 text-bold">Total :</h6>
          </div>
          <div class="m-l-10">
            <h4 class="font-medium">{{parseFloatCustom(venta.subTotal)}}</h4>
            <h4 class="font-medium">{{parseFloatCustom((venta.subTotal * venta.impuesto) / 100)}}</h4>
            <h4 class="font-medium">{{parseFloatCustom(venta.montoTotal)}}</h4>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>

</mat-card>
