<div>
    <h2 id="page-heading">
        <span>Amortizations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-amortization" [routerLink]="['/amortization/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Amortization
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="amortizations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amountToPay"><span>Amount To Pay</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amountPayed"><span>Amount Payed</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emissionDate"><span>Emission Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="documentCode"><span>Document Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gloss"><span>Gloss</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="documentTypeSellId"><span>Document Type Sell</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paymentTypeId"><span>Payment Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sellId"><span>Sell</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let amortization of amortizations ;trackBy: trackId">
                <td><a [routerLink]="['/amortization', amortization.id, 'view' ]">{{amortization.id}}</a></td>
                <td>{{amortization.amountToPay}}</td>
                <td>{{amortization.amountPayed}}</td>
                <td>{{amortization.emissionDate | date:'mediumDate'}}</td>
                <td>{{amortization.documentCode}}</td>
                <td>{{amortization.gloss}}</td>
                <td>
                    <div *ngIf="amortization.documentTypeSellId">
                        <a [routerLink]="['../document-type-sell', amortization.documentTypeSellId , 'view' ]" >{{amortization.documentTypeSellId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="amortization.paymentTypeId">
                        <a [routerLink]="['../payment-type', amortization.paymentTypeId , 'view' ]" >{{amortization.paymentTypeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="amortization.sellId">
                        <a [routerLink]="['../sell', amortization.sellId , 'view' ]" >{{amortization.sellId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/amortization', amortization.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/amortization', amortization.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'amortization/'+ amortization.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="amortizations && amortizations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
