<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <h4>Detalles del proveedor</h4>
        <form class="basic-form">
          <div fxLayout="row wrap">
            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">Nombre del proveedor</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <span>{{proveedor.razonSocial}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">Dirección</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <span>{{proveedor.direccion}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">Email:</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <span>{{proveedor.correo}}</span>
              </div>
            </div>
          </div>

          <div fxLayout="row wrap">
            <!-- Card column -->
            <div fxFlex.gt-sm="100%" fxFlex="100">
              <mat-card>
                <mat-card-content class="no-padding">
                  <ng-container *ngIf="(asyncTabs | async) === null">
                    Loading tabs...
                  </ng-container>

                  <mat-tab-group>
                    <mat-tab *ngFor="let tab of asyncTabs | async">
                      <ng-template mat-tab-label>{{tab.label}}</ng-template>
                      <div class="responsive-table">
                        <mat-table #table matSort [dataSource]="dataSourceContactos" class="mat-elevation-z8" *ngIf="tab.label === 'Contactos'">
                          <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                              <span class="header-label"> Nombre:</span>
                              {{element.nombre}}
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="cargo">
                            <mat-header-cell *matHeaderCellDef> Cargo </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                              <span class="header-label"> Cargo:</span>
                              {{element.cargo}}
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="telefono">
                            <mat-header-cell *matHeaderCellDef> Telefono </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                              <span class="header-label"> Telefono:</span>
                              {{element.telefono}}
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="producto">
                            <mat-header-cell *matHeaderCellDef> Productos Relacionados </mat-header-cell>
                            <!--<mat-cell *matCellDef="let element">-->
                              <!--<span class="header-label"> Productos Relacionados:</span>-->
                              <!--{{element.producto}}-->
                            <!--</mat-cell>-->
                            <mat-cell *matCellDef="let row;let i = index">
                              <!--<input type="text" (blur)="saveChangesInContactsRow($event, i, 'producto')" value="{{row.producto}}">-->
                              <span class="header-label">Productos Relacionados:</span>
                              <mat-chip-list #chipList>
                                <mat-chip *ngFor="let product of tags.get(i)" [selectable]="selectable" [removable]="false">
                                  {{product}}
                                </mat-chip>
                              </mat-chip-list>
                            </mat-cell>

                          </ng-container>

                          <mat-header-row *matHeaderRowDef="displayedColumnsContactos"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumnsContactos;"></mat-row>
                        </mat-table>

                        <mat-table #table matSort [dataSource]="dataSourceCuentas" class="mat-elevation-z8" *ngIf="tab.label === 'Cuentas'">
                          <ng-container matColumnDef="cuenta">
                            <mat-header-cell *matHeaderCellDef> Cuenta </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <span class="header-label">Cuenta:</span>
                              {{row.tipoCuenta}}
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="banco">
                            <mat-header-cell *matHeaderCellDef> Nombre del Banco </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <span class="header-label"> Nombre del Banco:</span>
                              {{row.banco}}
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="numeroDeCuenta">
                            <mat-header-cell *matHeaderCellDef> Numero de cuenta </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <span class="header-label"> Numero de cuenta:</span>
                              {{row.numeroDeCuenta}}
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="nombreCuenta">
                            <mat-header-cell *matHeaderCellDef> Titular de la cuenta </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <span class="header-label"> Titular de la cuenta:</span>
                              {{row.nombreCuenta}}
                            </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="displayedColumnsCuentas"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumnsCuentas;"></mat-row>
                        </mat-table>
                      </div>
                    </mat-tab>
                  </mat-tab-group>

                </mat-card-content>
              </mat-card>
            </div>
          </div>

          <div class="p-10 text-right">
            <button mat-raised-button color="basic" class="bg-warning" (click)="previousState()">IMPRIMIR</button>
            <button mat-raised-button color="primary" (click)="previousState()">ACEPTAR</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
