<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Proveedor {{!proveedor.id ? 'Nuevo' : 'Edición'}} </mat-card-title>
        <form class="basic-form">
          <div fxLayout="row wrap">
            <!-- column -->
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Razón social" name="socialReason" [(ngModel)]="proveedor.razonSocial" [formControl]="form.controls['frazonSocial']">
              </mat-form-field>
              <mat-hint *ngIf="form.controls['frazonSocial'].hasError('required') && form.controls['frazonSocial'].touched" class="text-danger font-14">Campo Requerido</mat-hint>
              <mat-hint *ngIf="form.controls['frazonSocial'].hasError('maxlength') && form.controls['frazonSocial'].touched" class="text-danger font-14">Límite Excedido</mat-hint>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Número de Ruc" name="code" [(ngModel)]="proveedor.codigo">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Dirección" name="address" [(ngModel)]="proveedor.direccion" [formControl]="form.controls['fdireccion']">
              </mat-form-field>
              <mat-hint *ngIf="form.controls['fdireccion'].hasError('required') && form.controls['fdireccion'].touched" class="text-danger font-14">Campo Requerido</mat-hint>
              <mat-hint *ngIf="form.controls['fdireccion'].hasError('maxlength') && form.controls['fdireccion'].touched" class="text-danger font-14">Límite Excedido</mat-hint>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Teléfono" name="phone" [(ngModel)]="proveedor.telefono">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Email" name="email" [(ngModel)]="proveedor.correo">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Sector" name="email" [(ngModel)]="proveedor.sector">
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row wrap">
            <!-- Card column -->
            <div fxFlex.gt-sm="100%" fxFlex="100">
              <mat-card>
                <mat-card-content>
                  <ng-container *ngIf="(asyncTabs | async) === null">
                    Loading tabs...
                  </ng-container>

                  <mat-tab-group>
                    <mat-tab *ngFor="let tab of asyncTabs | async">
                      <ng-template mat-tab-label>{{tab.label}}</ng-template>

                      <div *ngIf="tab.label === 'Cuentas Asociadas a Proveedor'" fxLayout="row wrap">
                        <div fxFlex.gt-xs="50" fxFlex="100" class="p-10">
                          <mat-form-field>
                            <mat-select [(value)]="selectedTipoDeCuenta">
                              <mat-option *ngFor="let tipoDeCuenta of tiposDeCuenta" [value]="tipoDeCuenta.value">
                                {{tipoDeCuenta.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div fxFlex.gt-xs="50" fxFlex="100" class="p-10 text-right">
                          <button mat-raised-button color="primary" (click)="addAccountProvider()">Agregar</button>
                        </div>
                      </div>

                      <mat-table *ngIf="tab.label === 'Cuentas Asociadas a Proveedor'" #table matSort [dataSource]="dataSourceCuentas" class="mat-elevation-z8">

                        <ng-container matColumnDef="cuenta">
                          <mat-header-cell *matHeaderCellDef> Cuenta </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            {{row.tipoCuenta}}
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="banco">
                          <mat-header-cell *matHeaderCellDef> Nombre del Banco </mat-header-cell>
                          <mat-cell *matCellDef="let row;let i = index">
                            <input type="text" (blur)="saveChangesInAccountsRow($event, i, 'banco')" value="{{row.banco}}">
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="numeroDeCuenta">
                          <mat-header-cell *matHeaderCellDef> Numero de cuenta </mat-header-cell>
                          <mat-cell *matCellDef="let row;let i = index">
                            <input type="number" (blur)="saveChangesInAccountsRow($event, i, 'numeroDeCuenta')" value="{{row.numeroDeCuenta}}">
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="nombreCuenta">
                          <mat-header-cell *matHeaderCellDef> Titular de la cuenta </mat-header-cell>
                          <mat-cell *matCellDef="let row;let i = index">
                            <input type="text" (blur)="saveChangesInAccountsRow($event, i, 'nombreCuenta')" value="{{row.nombreCuenta}}">
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="quitar">
                          <mat-header-cell *matHeaderCellDef> Quitar </mat-header-cell>
                          <mat-cell *matCellDef="let row;let i = index">
                            <a (click)="deleteAccount(i, row)" class="ng-star-inserted">
                              <i class="ti-trash text-danger m-r-10"></i>
                            </a>
                          </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumnsCuentas"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsCuentas;let i = index"></mat-row>
                      </mat-table>

                      <div *ngIf="tab.label !== 'Cuentas Asociadas a Proveedor'" fxLayout="row wrap">
                        <div fxFlex.gt-xs="50" fxFlex="100" class="p-10">
                        </div>

                        <div fxFlex.gt-xs="50" fxFlex="100" class="p-10 text-right">
                          <button mat-raised-button color="primary" (click)="addContactProvider()">Agregar</button>
                        </div>
                      </div>

                      <mat-table *ngIf="tab.label !== 'Cuentas Asociadas a Proveedor'" #table matSort [dataSource]="dataSourceContactos" class="mat-elevation-z8">

                        <ng-container matColumnDef="nombre">
                          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                          <mat-cell *matCellDef="let row;let i = index">
                            <input type="text" (blur)="saveChangesInContactsRow($event, i, 'nombre')" value="{{row.nombre}}">
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="cargo">
                          <mat-header-cell *matHeaderCellDef> Cargo </mat-header-cell>
                          <mat-cell *matCellDef="let row;let i = index">
                            <input type="text" (blur)="saveChangesInContactsRow($event, i, 'cargo')" value="{{row.cargo}}">
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="telefono">
                          <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
                          <mat-cell *matCellDef="let row;let i = index">
                            <input type="text" (blur)="saveChangesInContactsRow($event, i, 'telefono')" value="{{row.telefono}}">
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="producto">
                          <mat-header-cell *matHeaderCellDef> Productos Relacionados </mat-header-cell>
                          <mat-cell *matCellDef="let row;let i = index">
                            <!--<input type="text" (blur)="saveChangesInContactsRow($event, i, 'producto')" value="{{row.producto}}">-->
                            <mat-chip-list #chipList>
                              <mat-chip *ngFor="let product of tags.get(i)" [selectable]="selectable" [removable]="removable" (remove)="removeTag(product)">
                                {{product}}
                                <mat-icon matChipRemove *ngIf="removable" (click)="removeTag(product, i)">cancel</mat-icon>
                              </mat-chip>
                              <input #tagInput name="valueInputTag" type="text" [ngModel]="valueInputTag" placeholder="producto nuevo..." [matChipInputFor]="chipList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" [formControl]="myControl"
                                     [matAutocomplete]="autoready"  (matChipInputTokenEnd)="addTag($event)"/>
                              <mat-autocomplete #autoready="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="addValueTag(option, i)">
                                  {{option.nombre}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-chip-list>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="quitar">
                          <mat-header-cell *matHeaderCellDef> Quitar </mat-header-cell>
                          <mat-cell *matCellDef="let row;let i = index">
                            <a (click)="deleteContact(i, row)" class="ng-star-inserted">
                              <i class="ti-trash text-danger m-r-10"></i>
                            </a>
                          </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumnsContactos"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsContactos;let i = index"></mat-row>
                      </mat-table>

                    </mat-tab>
                  </mat-tab-group>

                </mat-card-content>
              </mat-card>
            </div>
          </div>

          <div class="p-10 text-right">
            <button mat-raised-button (click)="previousState()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="save()">Guardar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
