<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <div style="display: flex;">
      <div fxFlex.gt-xs="50" fxFlex="25" class="p-10" (click)="previousState()" style="cursor: pointer">
        <span class="goBackTag">< Todas las compras</span>
      </div>

      <div fxFlex.gt-xs="50" fxFlex="75" class="p-10 text-right">
        <div class="button-row">
          <button mat-raised-button (click)="previousState()">Cancelar</button>
          <!--<button mat-raised-button color="primary" [disabled]="!form.valid" (click)="save()">Guardar</button>-->
          <button mat-raised-button color="primary" (click)="save()">Guardar</button>
        </div>
      </div>
    </div>

    <mat-card>
      <mat-card-content>
        <mat-card-title  style="border-bottom: 3px #ebebeb solid;"> Compra {{!entity.id ? 'Nueva' : 'Edición'}} </mat-card-title>
        <form style="margin-top:15px" class="basic-form">
          <div fxLayout="row wrap">
            <!-- column -->
            <div fxFlex.gt-sm="64" fxFlex="100" style="margin-right: 2%;">
              <mat-form-field>
                <input matInput placeholder="Proveedor" name="proveedor" type="text" maxlength="150"
                       (keypress)="checkCharactersOnly($event)" [(ngModel)]="entityFilteredSelectedInputProveedor" [matAutocomplete]="autoTest"
                       (keyup)="filterEntityProveedor()" (blur)="onBlurProveedor($event)">
                <mat-icon matSuffix color="primary" style="cursor: pointer;">add
                </mat-icon>
                <button mat-button *ngIf="entityFilteredSelectedProveedor" matSuffix mat-icon-button aria-label="Clear" (click)="clearEntitySelectedProveedor()">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #autoTest="matAutocomplete">
                  <mat-option *ngFor="let option of entitiesFilteredProveedor" [value]="option" (click)="setEntityFilterProveedor(option)">
                    <span *ngIf="option.razonSocial">{{option.razonSocial}}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <!--<mat-hint *ngIf="form.controls['proveedor'].hasError('required') && form.controls['proveedor'].touched" class="text-danger font-14">Campo Requerido</mat-hint>-->
            </div>

            <mat-form-field fxFlex.gt-sm="34" fxFlex="100">
              <mat-select placeholder="Tipo de Compra" [(ngModel)]="entity.tipoDePagoDeCompra" name="tipoDePagoDeCompra">
                <mat-option *ngFor="let tipoDePagoDeCompra of tipoDePagoDeCompraList;" [value]="tipoDePagoDeCompra">
                  {{tipoDePagoDeCompra}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex.gt-sm="32" fxFlex="100" style="    margin-right: 2%;">
              <mat-select placeholder="Documento" [(ngModel)]="entity.tipoDeDocumentoDeCompraId" name="tipoDeDocumentoDeCompraId">
                <mat-option *ngFor="let tipoDeDocumentosDeCompras of tiposDeDocumentosDeCompras;" [value]="tipoDeDocumentosDeCompras.id">
                  {{tipoDeDocumentosDeCompras.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div fxFlex.gt-sm="32" fxFlex="100" style="    margin-right: 2%;">
              <mat-form-field>
                <!--<input matInput placeholder="Nro. Documento" name="numeroDeDocumento" type="text" maxlength="150" (keypress)="checkNumbersOnly($event)" [(ngModel)]="entity.numeroDeDocumento" [formControl]="form.controls['numeroDeDocumento']">-->
                <input matInput placeholder="Nro. Documento" name="numeroDeDocumento" type="text" maxlength="150" (keypress)="checkNumbersOnly($event)" [(ngModel)]="entity.numeroDeDocumento">
              </mat-form-field>
              <!--<mat-hint *ngIf="form.contols['numeroDeDocumento'].hasError('required') && form.controls['numeroDeDocumento'].touched" class="text-danger font-14">Campo Requerido</mat-hint>-->
            </div>

            <div fxFlex.gt-sm="32" fxFlex="100">
              <mat-form-field>
                <!--<input matInput [matDatepicker]="picker" [(ngModel)]="entity.fecha" placeholder="Fecha Compra" [formControl]="form.controls['fecha']">-->
                <input matInput [matDatepicker]="picker" [(ngModel)]="entity.fecha" placeholder="Fecha Compra" name="fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <!--<mat-hint *ngIf="form.contols['fecha'].hasError('required') && form.controls['fecha'].touched" class="text-danger font-14">Campo Requerido</mat-hint>-->
            </div>

            <div fxFlex.gt-sm="32" fxFlex="100" style="    margin-right: 2%;">
              <mat-form-field>
                <input matInput placeholder="Guia Remision" name="guiaRemision" type="text" maxlength="150" [(ngModel)]="entity.guiaRemision">
              </mat-form-field>
            </div>

            <mat-form-field fxFlex.gt-sm="32" fxFlex="100">
              <mat-select placeholder="Ubicación" [(ngModel)]="entity.ubicacion" name="ubicacion">
                <mat-option *ngFor="let ubicacion of ubicacionList;" [value]="ubicacion">
                  {{ubicacion}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex.gt-xs="50" fxFlex="100" class="p-10">
          </div>

          <div fxFlex.gt-xs="50" fxFlex="100" class="p-10 text-right">
            <button mat-raised-button color="primary" (click)="agregarProducto()">Agregar</button>
          </div>
        </div>

        <div class="responsive-table">
          <mat-table #table matSort [dataSource]="dataSourceProductos" class="mat-elevation-z8">

            <ng-container matColumnDef="producto">
              <mat-header-cell style="font-weight: bold" *matHeaderCellDef> Producto </mat-header-cell>
              <mat-cell *matCellDef="let row;let i = index">
                <!--<input type="text" appearance="fill" maxlength="50" (keypress)="checkCharactersAndNumbersOnly($event)" (blur)="saveChangesInProductsRow($event, i, 'valueInput')" value="{{row.valueInput}}">-->

                <input matInput placeholder="Producto" name="producto" type="text" maxlength="150"
                       (keypress)="checkCharactersAndNumbersOnly($event)" [matAutocomplete]="autoTestProducto"
                       (keyup)="filterEntityProducto($event, row.index, row)" (blur)="onBlurProducto(row.index)" value="{{row.valueInput}}">
                <button mat-button *ngIf="row.productSelected" matSuffix mat-icon-button aria-label="Clear" (click)="clearEntitySelectedProducto(row.index)">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #autoTestProducto="matAutocomplete">
                  <mat-option *ngFor="let option of row.productsFiltered" [value]="option" (click)="setEntityFilterProducto(row.index, option)">
                    <span>{{option.nombre}}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cantidad">
              <mat-header-cell style="font-weight: bold" *matHeaderCellDef> Cantidad </mat-header-cell>
              <mat-cell *matCellDef="let row;let i = index">
                <input type="text" maxlength="50" (keypress)="checkNumbersOnly($event)" (blur)="saveChangesInProductsRow($event, i, 'stockAdded')" value="{{row.stockAdded}}">
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="precio">
              <mat-header-cell style="font-weight: bold" *matHeaderCellDef> P.U </mat-header-cell>
              <mat-cell *matCellDef="let row;let i = index">
                <input type="text" maxlength="50" (keypress)="checkNumbersDecimalOnly($event)" (blur)="saveChangesInProductsRow($event, i, 'precioCompra')" value="{{!row.productSelected ? '' : row.productSelected.precioCompra}}" disabled>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="quitar">
              <mat-header-cell style="font-weight: bold" *matHeaderCellDef> Quitar </mat-header-cell>
              <mat-cell *matCellDef="let row;let i = index">
                <span class="header-label">Quitar:</span>
                <a (click)="deleteProduct(row.index, row)" class="ng-star-inserted">
                  <i class="ti-trash text-danger m-r-10"></i>
                </a>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsProductos"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsProductos;let i = index"></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
