<!--<h1 mat-dialog-title>Información de la venta</h1>-->

<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <div style="display: flex; background-color: #ebecec">
      <div fxFlex.gt-xs="50" fxFlex="25" class="p-10">
        <span>Información de la venta</span>
      </div>

      <div fxFlex.gt-xs="50" fxFlex="75" class="p-10 text-right">
        <div class="button-row">
          <button mat-raised-button color="warn" (click)="closeAndCheckSell('exit')">x</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-content>
  <div fxLayout="row wrap">

    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="p-10">
      <span class="header-label">El Cliente <b>{{data.client.nombre}}</b></span><br>
      <span class="header-label">Con Número de Ruc <b>{{data.client.codigo}}</b></span><br>
      <span class="header-label">Direccionado en <b>{{data.client.direccion}}</b></span><br>
      <span class="header-label">Con Nº de Venta <b>{{data.entity.codigo}}</b></span><br>
    </div>

    <!--<div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="p-10">-->
      <!--<mat-form-field>-->
        <!--<mat-select placeholder="Tipo de Documento" [(ngModel)]="data.entity.tipoDeDocumentoDeVentaId" name="documentTypeSell">-->
          <!--<mat-option *ngFor="let documentTypeSellOption of documentTypeSells;" [value]="documentTypeSellOption.id">-->
            <!--{{documentTypeSellOption.nombre}}-->
          <!--</mat-option>-->
        <!--</mat-select>-->
      <!--</mat-form-field>-->
    <!--</div>-->

    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="p-10">
      <mat-form-field>
        <mat-select placeholder="Tipo de pago" [(ngModel)]="data.entity.tipoDePagoId" name="paymentType">
          <mat-option *ngFor="let paymentTypeOption of paymentTypes;" [value]="paymentTypeOption.id">
            {{paymentTypeOption.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
      <mat-form-field>
        <input matInput placeholder="Monto de pago" name="payment" type="text" maxlength="10" (keypress)="checkNumbersDecimalOnly($event)" [(ngModel)]="amortization.montoPagado">
        <span matPrefix>S/&nbsp;</span>
      </mat-form-field>
    </div>

    <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="amortization.fecha" placeholder="Fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
      <mat-form-field>
        <input matInput placeholder="Nº de comprobante de pago" name="comprobantNumber" type="text" maxlength="20" [(ngModel)]="amortization.comprobante">
        <span matPrefix>S/&nbsp;</span>
      </mat-form-field>
    </div>

    <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
      <div>
        <img [src]="'data:' + amortization.fotoComprobanteContentType + ';base64,' + amortization.fotoComprobante" style="max-height: 100px;" *ngIf="amortization.fotoComprobante" alt="amortization image"/>
        <button *ngIf="amortization.fotoComprobante" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInputImage('fotoComprobante', 'fotoComprobanteContentType', 'fileImage')">
          <mat-icon>close</mat-icon>
        </button>
        <input type="file" id="file_imagen" (change)="setFileData($event, amortization, 'fotoComprobante', true)" accept="image/*"/>
      </div>
      <input type="hidden" class="form-control" name="fotoComprobante" id="field_imagen"
             [(ngModel)]="amortization.fotoComprobante" />
      <input type="hidden" class="form-control" name="fotoComprobanteContentType" id="field_imagenContentType"
             [(ngModel)]="amortization.fotoComprobanteContentType" />
    </div>

    <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
      <mat-form-field>
        <input matInput placeholder="Glosa" name="Glosa" type="text" maxlength="150" [(ngModel)]="data.entity.glosa">
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row wrap">
    <h1 mat-dialog-title style="width: 100%; text-align: center;">Total : S/ {{montoTotal}}</h1>
  </div>

  <div fxLayout="row wrap">
    <h1 mat-dialog-title style="width: 100%; text-align: center; color:#30ad80">Vuelto : {{parseFloatCustom(amortization.montoPagado - montoTotal)  < 0 ? 0 : parseFloatCustom(amortization.montoPagado - montoTotal)}} soles</h1>
  </div>
</div>
<div style="width: 100%;" mat-dialog-actions>
  <button style="background-color: #1ab394; color: white; border-radius: initial; width:72%" mat-button tabindex="2" (click)="closeAndCheckSell('pay')" [disabled]="validateDocumentCodeInvalid()">Pagar</button>
  <button style="width: 25%;" mat-button tabindex="-1" (click)="closeAndCheckSell('exit')">Salir</button>
</div>
