.contactlist .mat-row {
  padding: 10px 15px;
}

.mat-column-select {
  overflow: initial;
}

mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
  padding-right: 0 !important;
}
// Search bar style
.mat-icon-button{
  display: inline-block;
  margin-top: 10px;
  background-color: #1e88e5;
  border-radius: 2px;
  margin-right: 10px;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
  color: white;
}

input.mat-input-element{
  margin-top: 5px;
}
//
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
}

#newSection {
  text-align: right;
}

.mat-row.mat-row.ng-star-inserted:hover,
.mat-row.mat-row.ng-star-inserted:focus {
  background-color: #eaeaea;

}

.mat-header-row.mat-header-row.ng-star-inserted{
  background-color: #eee;
}
