<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <div style="display: flex;">
      <div fxFlex.gt-xs="50" fxFlex="25" class="p-10" (click)="previousState()" style="cursor: pointer">
        <mat-icon>arrow_back</mat-icon>
        <span class="goBackTag">Todos los Empleados</span>
      </div>

      <div fxFlex.gt-xs="50" fxFlex="75" class="p-10 text-right">
        <div class="button-row">
          <button mat-raised-button (click)="previousState()">Cancelar</button>
          <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="save()">Guardar</button>
        </div>
      </div>
    </div>

    <mat-card>
      <mat-card-content>
        <mat-card-title>Empleado {{!entity.id ? 'Nuevo' : 'Edición'}} </mat-card-title>
        <form class="basic-form">
          <div fxLayout="row wrap">
            <!-- column -->
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Nombre" name="nombre" [(ngModel)]="entity.nombre" [formControl]="form.controls['fnombre']">
              </mat-form-field>
              <mat-hint *ngIf="form.controls['fnombre'].hasError('required') && form.controls['fnombre'].touched" class="text-danger font-14">Campo Requerido</mat-hint>
              <mat-hint *ngIf="form.controls['fnombre'].hasError('maxlength') && form.controls['fnombre'].touched" class="text-danger font-14">Límite Excedido</mat-hint>
            </div>

            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Apellido" name="apellido" [(ngModel)]="entity.apellido" [formControl]="form.controls['fapellido']">
              </mat-form-field>
              <mat-hint *ngIf="form.controls['fapellido'].hasError('maxlength') && form.controls['fapellido'].touched" class="text-danger font-14">Límite Excedido</mat-hint>
            </div>

            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput type="number" placeholder="Dni" name="dni" [(ngModel)]="entity.dni" [formControl]="form.controls['fdni']">
              </mat-form-field>
              <mat-hint *ngIf="form.controls['fdni'].hasError('required') && form.controls['fdni'].touched" class="text-danger font-14">Campo Requerido</mat-hint>
              <mat-hint *ngIf="form.controls['fdni'].hasError('maxlength') && form.controls['fdni'].touched" class="text-danger font-14">Dni Inválido</mat-hint>
            </div>

            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Dirección" name="direccion" [(ngModel)]="entity.direccion">
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input type="number" matInput placeholder="Teléfono" name="telefono" [(ngModel)]="entity.telefono" [formControl]="form.controls['ftelefono']">
              </mat-form-field>
              <mat-hint *ngIf="form.controls['ftelefono'].hasError('required') && form.controls['ftelefono'].touched" class="text-danger font-14">Campo Requerido</mat-hint>
              <mat-hint *ngIf="form.controls['ftelefono'].hasError('maxlength') && form.controls['ftelefono'].touched" class="text-danger font-14">Limite excedido</mat-hint>
            </div>

            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Email" name="email" [(ngModel)]="entity.correo" [formControl]="form.controls['femail']">
              </mat-form-field>
              <small *ngIf="form.controls['femail'].errors?.email && form.controls['femail'].touched" class="text-danger font-14">Correo inválido</small>
            </div>


            <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="entity.fechaDeNacimiento" placeholder="Fecha de Nacimiento (mm/dd/yyyy)" [formControl]="form.controls['ffechaNacimiento']">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-hint *ngIf="form.controls['ffechaNacimiento'].errors?.date && form.controls['ffechaNacimiento'].touched" class="text-danger font-14">Debe incluir una fecha válida.</mat-hint>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="Sexo" [(ngModel)]="entity.sexo" name="sex">
                  <mat-option *ngFor="let sex of sexos" [value]="sex">
                    {{sex}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="Rol" [(ngModel)]="entity.rolEmpleado" name="role">
                  <mat-option *ngFor="let role of roles" [value]="role">
                    {{role}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                <div>
                  <img [src]="'data:' + entity.imagenContentType + ';base64,' + entity.imagen" style="max-height: 100px;" *ngIf="entity.imagen" alt="entity image"/>
                  <button *ngIf="entity.imagen" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInputImage('imagen', 'imagenContentType', 'fileImage')">
                    <mat-icon>close</mat-icon>
                  </button>
                  <input type="file" id="file_imagen" (change)="setFileData($event, entity, 'imagen', true)" accept="image/*"/>
                </div>
                <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                       [(ngModel)]="entity.imagen" />
                <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                       [(ngModel)]="entity.imagenContentType" />
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
