<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contactoProveedor">
            <h2><span>Contacto Proveedor</span> {{contactoProveedor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{contactoProveedor.nombre}}</span>
                </dd>
                <dt><span>Cargo</span></dt>
                <dd>
                    <span>{{contactoProveedor.cargo}}</span>
                </dd>
                <dt><span>Producto</span></dt>
                <dd>
                    <span>{{contactoProveedor.producto}}</span>
                </dd>
                <dt><span>Telefono</span></dt>
                <dd>
                    <span>{{contactoProveedor.telefono}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contacto-proveedor', contactoProveedor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
