//por modificar mucho css-
.customButton {
  font-size: 0.5rem;
  padding-right: 0;
  padding-left: 5px;
}

.page-wrapper-custom{
  overflow: hidden;
}

@media (max-width: 959px){
  .page-wrapper-custom{
    overflow: auto;
  }
}
.header-content-cust{
  background-color: #eeeeee;
}
.brand-content{
  height: 45px !important;
  width: 184px !important;
  background-color: #1e88e5;
}
.brand-link{
  height: 45px !important;
  width: 184px !important;
}
.img-brand-ico{
  height: 33px !important;
  width: 33px !important;
}

