<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchase">
            <h2><span>Purchase</span> {{purchase.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{purchase.date}}</span>
                </dd>
                <dt><span>Remision Guide</span></dt>
                <dd>
                    <span>{{purchase.remisionGuide}}</span>
                </dd>
                <dt><span>Document Number</span></dt>
                <dd>
                    <span>{{purchase.documentNumber}}</span>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <span>{{purchase.location}}</span>
                </dd>
                <dt><span>Total Amount</span></dt>
                <dd>
                    <span>{{purchase.totalAmount}}</span>
                </dd>
                <dt><span>Correlative</span></dt>
                <dd>
                    <span>{{purchase.correlative}}</span>
                </dd>
                <dt><span>Payment Purchase Type</span></dt>
                <dd>
                    <span>{{purchase.paymentPurchaseType}}</span>
                </dd>
                <dt><span>Provider</span></dt>
                <dd>
                    <div *ngIf="purchase.providerId">
                        <a [routerLink]="['/provider', purchase.providerId, 'view']">{{purchase.providerId}}</a>
                    </div>
                </dd>
                <dt><span>Document Type Purchase</span></dt>
                <dd>
                    <div *ngIf="purchase.documentTypePurchaseId">
                        <a [routerLink]="['/document-type-purchase', purchase.documentTypePurchaseId, 'view']">{{purchase.documentTypePurchaseId}}</a>
                    </div>
                </dd>
                <dt><span>Purchase Status</span></dt>
                <dd>
                    <div *ngIf="purchase.purchaseStatusId">
                        <a [routerLink]="['/purchase-status', purchase.purchaseStatusId, 'view']">{{purchase.purchaseStatusId}}</a>
                    </div>
                </dd>
                <dt><span>Box</span></dt>
                <dd>
                    <div *ngIf="purchase.boxId">
                        <a [routerLink]="['/box', purchase.boxId, 'view']">{{purchase.boxId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase', purchase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
