<div>
    <h2 id="page-heading">
        <span>Sells</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sell" [routerLink]="['/sell/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Sell
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sells">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span>Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subTotalAmount"><span>Sub Total Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="taxAmount"><span>Tax Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalAmount"><span>Total Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span>Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gloss"><span>Gloss</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clientId"><span>Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employeeId"><span>Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="boxId"><span>Box</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="documentTypeSellId"><span>Document Type Sell</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paymentTypeId"><span>Payment Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productsDeliveredStatusId"><span>Products Delivered Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sell of sells ;trackBy: trackId">
                <td><a [routerLink]="['/sell', sell.id, 'view' ]">{{sell.id}}</a></td>
                <td>{{sell.code}}</td>
                <td>{{sell.subTotalAmount}}</td>
                <td>{{sell.taxAmount}}</td>
                <td>{{sell.totalAmount}}</td>
                <td>{{sell.date | date:'mediumDate'}}</td>
                <td>{{sell.status}}</td>
                <td>{{sell.gloss}}</td>
                <td>
                    <div *ngIf="sell.clientId">
                        <a [routerLink]="['../client', sell.clientId , 'view' ]" >{{sell.clientId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sell.employeeId">
                        <a [routerLink]="['../employee', sell.employeeId , 'view' ]" >{{sell.employeeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sell.boxId">
                        <a [routerLink]="['../box', sell.boxId , 'view' ]" >{{sell.boxId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sell.documentTypeSellId">
                        <a [routerLink]="['../document-type-sell', sell.documentTypeSellId , 'view' ]" >{{sell.documentTypeSellId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sell.paymentTypeId">
                        <a [routerLink]="['../payment-type', sell.paymentTypeId , 'view' ]" >{{sell.paymentTypeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sell.productsDeliveredStatusId">
                        <a [routerLink]="['../products-delivered-status', sell.productsDeliveredStatusId , 'view' ]" >{{sell.productsDeliveredStatusId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sell', sell.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sell', sell.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sell/'+ sell.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sells && sells.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
