<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sell">
            <h2><span>Sell</span> {{sell.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{sell.code}}</span>
                </dd>
                <dt><span>Sub Total Amount</span></dt>
                <dd>
                    <span>{{sell.subTotalAmount}}</span>
                </dd>
                <dt><span>Tax Amount</span></dt>
                <dd>
                    <span>{{sell.taxAmount}}</span>
                </dd>
                <dt><span>Total Amount</span></dt>
                <dd>
                    <span>{{sell.totalAmount}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{sell.date}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{sell.status}}</span>
                </dd>
                <dt><span>Gloss</span></dt>
                <dd>
                    <span>{{sell.gloss}}</span>
                </dd>
                <dt><span>Client</span></dt>
                <dd>
                    <div *ngIf="sell.clientId">
                        <a [routerLink]="['/client', sell.clientId, 'view']">{{sell.clientId}}</a>
                    </div>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="sell.employeeId">
                        <a [routerLink]="['/employee', sell.employeeId, 'view']">{{sell.employeeId}}</a>
                    </div>
                </dd>
                <dt><span>Box</span></dt>
                <dd>
                    <div *ngIf="sell.boxId">
                        <a [routerLink]="['/box', sell.boxId, 'view']">{{sell.boxId}}</a>
                    </div>
                </dd>
                <dt><span>Document Type Sell</span></dt>
                <dd>
                    <div *ngIf="sell.documentTypeSellId">
                        <a [routerLink]="['/document-type-sell', sell.documentTypeSellId, 'view']">{{sell.documentTypeSellId}}</a>
                    </div>
                </dd>
                <dt><span>Payment Type</span></dt>
                <dd>
                    <div *ngIf="sell.paymentTypeId">
                        <a [routerLink]="['/payment-type', sell.paymentTypeId, 'view']">{{sell.paymentTypeId}}</a>
                    </div>
                </dd>
                <dt><span>Products Delivered Status</span></dt>
                <dd>
                    <div *ngIf="sell.productsDeliveredStatusId">
                        <a [routerLink]="['/products-delivered-status', sell.productsDeliveredStatusId, 'view']">{{sell.productsDeliveredStatusId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sell', sell.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
