<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoDeDocumentoDeVenta">
            <h2><span>Tipo De Documento De Venta</span> {{tipoDeDocumentoDeVenta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{tipoDeDocumentoDeVenta.nombre}}</span>
                </dd>
                <dt><span>Serie</span></dt>
                <dd>
                    <span>{{tipoDeDocumentoDeVenta.serie}}</span>
                </dd>
                <dt><span>Formato</span></dt>
                <dd>
                    <span>{{tipoDeDocumentoDeVenta.formato}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-de-documento-de-venta', tipoDeDocumentoDeVenta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
