<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-producto-heading">Create or edit a Producto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!producto.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="producto.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codigo">Codigo</label>
                    <input type="text" class="form-control" name="codigo" id="field_codigo"
                        [(ngModel)]="producto.codigo" required maxlength="150"/>
                    <div [hidden]="!(editForm.controls.codigo?.dirty && editForm.controls.codigo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codigo?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codigo?.errors?.maxlength">
                        This field cannot be longer than 150 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                        [(ngModel)]="producto.descripcion" maxlength="150"/>
                    <div [hidden]="!(editForm.controls.descripcion?.dirty && editForm.controls.descripcion?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.descripcion?.errors?.maxlength">
                        This field cannot be longer than 150 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaExpiracion">Fecha Expiracion</label>
                    <div class="input-group">
                        <input id="field_fechaExpiracion" type="text" class="form-control" name="fechaExpiracion" ngbDatepicker  #fechaExpiracionDp="ngbDatepicker" [(ngModel)]="producto.fechaExpiracion"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaExpiracionDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_esFavorito">Es Favorito</label>
                    <input type="checkbox" class="form-control" name="esFavorito" id="field_esFavorito"
                        [(ngModel)]="producto.esFavorito" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_visibleParaLaVenta">Visible Para La Venta</label>
                    <input type="checkbox" class="form-control" name="visibleParaLaVenta" id="field_visibleParaLaVenta"
                        [(ngModel)]="producto.visibleParaLaVenta" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_imagen">Imagen</label>
                    <div>
                        <img [src]="'data:' + producto.imagenContentType + ';base64,' + producto.imagen" style="max-height: 100px;" *ngIf="producto.imagen" alt="producto image"/>
                        <div *ngIf="producto.imagen" class="form-text text-danger clearfix">
                            <span class="pull-left">{{producto.imagenContentType}}, {{byteSize(producto.imagen)}}</span>
                            <button type="button" (click)="clearInputImage('imagen', 'imagenContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen" (change)="setFileData($event, producto, 'imagen', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                        [(ngModel)]="producto.imagen" />
                    <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                        [(ngModel)]="producto.imagenContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stock">Stock</label>
                    <input type="number" class="form-control" name="stock" id="field_stock"
                        [(ngModel)]="producto.stock" required/>
                    <div [hidden]="!(editForm.controls.stock?.dirty && editForm.controls.stock?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.stock?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.stock?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_notificacionDeLimiteDeStock">Notificacion De Limite De Stock</label>
                    <input type="number" class="form-control" name="notificacionDeLimiteDeStock" id="field_notificacionDeLimiteDeStock"
                        [(ngModel)]="producto.notificacionDeLimiteDeStock" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipoDeProducto">Tipo De Producto</label>
                    <select class="form-control" name="tipoDeProducto" [(ngModel)]="producto.tipoDeProducto" id="field_tipoDeProducto" >
                        <option value="BIENES">BIENES</option>
                        <option value="SERVICIOS">SERVICIOS</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_unidadDeMedida">Unidad De Medida</label>
                    <select class="form-control" id="field_unidadDeMedida" name="unidadDeMedida" [(ngModel)]="producto.unidadDeMedidaId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unidadDeMedidaOption.id" *ngFor="let unidadDeMedidaOption of unidaddemedidas; trackBy: trackUnidadDeMedidaById">{{unidadDeMedidaOption.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_categoria">Categoria</label>
                    <select class="form-control" id="field_categoria" name="categoria" [(ngModel)]="producto.categoriaId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoriaOption.id" *ngFor="let categoriaOption of categorias; trackBy: trackCategoriaById">{{categoriaOption.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_variantes">Variantes</label>
                    <select class="form-control" id="field_variantes" multiple name="variantes" [(ngModel)]="producto.variantes">
                        <option [ngValue]="getSelected(producto.variantes, varianteOption)" *ngFor="let varianteOption of variantes; trackBy: trackVarianteById">{{varianteOption.nombre}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
