<mat-card style="max-width: 420px;" *ngIf="venta">
  <mat-card-content>

    <div style="margin-bottom: 20px;" fxLayout="row wrap">
      <div style="border-right: solid; text-align: center;" fxFlex.gt-xs="20" fxFlex="20">
        <span>LOGO</span>
      </div>

      <div style="border:none; line-height: initial;" fxFlex.gt-xs="25" fxFlex="25">
        <table class="table">
          <thead>
          <tr>
            <th style="font-size: xx-small;" scope="col">PRO ECONOMICA S.A.C</th>
            <!--<td>{{getFormatedDate()}}</td>-->
          </tr>
          </thead>
          <tbody>
          <tr>
            <th style="font-size: xx-small;" scope="row">CAL. ALFONZO UGARTE NRO. 127 LORETO BELEN</th>
            <!--<td>{{venta.tipoDePagoNombre}}</td>-->
          </tr>
          <tr>
            <th style="font-size: xx-small;" scope="row">949451724</th>
            <!--<td>-</td>-->
          </tr>
          <tr>
            <th style="font-size: xx-small;" scope="row">ever@facturate.pe</th>
            <!--<td>-</td>-->
          </tr>
          </tbody>
        </table>
      </div>

      <div
        style="height:100%; position: relative; right: -55px; border-radius: 10px; border: none; text-transform: uppercase; line-height: 30px"
        fxFlex.gt-xs="45" fxFlex="45">
        <table class="table-header-fact">
          <thead>
          <tr>
            <th scope="col" style="text-align: center; font-size: small">RECIBO DE COBRANZA</th>
            <!--<td>{{venta.clienteNombre}}</td>-->
          </tr>
          </thead>
          <tbody>
          <th scope="row" style="text-align: center; font-size: small">N° {{amortizationSelected.codigo}}</th>
          <tr>
            <!--style="text-align: center; font-size: small">{{amortizationSelected.tipoDeDocumentoDeVentaNombre}}</th>-->
            <!--<td>{{cliente.direccion}}</td>-->
          </tr>
          <tr>
            <th scope="row" style="text-align: center; font-size: small">Por S/ $$$$$</th>
            <!--<td>{{amortizationSelected.codigoDocumento}}</td>-->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>

  <!--Sección del medio-->
  <mat-card-content>
      <div style="margin-top: -65px;border:none; line-height: initial;" fxFlex.gt-xs="100" fxFlex="100">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Recibi de: </th>
            <th>Nombre persona</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">La cantidad de: </th>
            <th>({{monto}}%) y 00/100 Soles</th>
          </tr>
          <tr>
            <th scope="row">Por concepto de: </th>
            <th>...</th>
          </tr>
          <tr>
            <th scope="row">Forma de pago: </th>
            <th>...</th>
          </tr>
          </tbody>
        </table>
      </div>
  </mat-card-content>

  <!--Otra seccion-->

  <mat-card-content>
    <div style="margin-top: -50px;border:none; line-height: initial;" fxFlex.gt-xs="47" fxFlex="47">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">N° de Boleta: </th>
          <th>...</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">N° de Factura: </th>
          <th>...</th>
        </tr>
        <tr>
          <th scope="row">Saldo: </th>
          <th>...</th>
        </tr>
        </tbody>
      </table>
    </div>

    <div style="border:none; line-height: initial;" fxFlex.gt-xs="55" fxFlex="55">
      <table class="table">
        <thead>
        <tr>
          <th scope="col"></th>
          <th></th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th style="border-top: 1px solid black" scope="row">Firma Vendedor </th>
          <th style="border-top: 1px solid black">Firma Cliente</th>
        </tr>
        <tr>
          <th scope="col">Fecha: </th>
          <th>...</th>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
  <span style="font-size: xx-small">**Cliente por favor sirva solicitar su recibo al momento de efectuar el pago</span>
</mat-card>

