<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchaseHasProduct">
            <h2><span>Purchase Has Product</span> {{purchaseHasProduct.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{purchaseHasProduct.quantity}}</span>
                </dd>
                <dt><span>Tax</span></dt>
                <dd>
                    <span>{{purchaseHasProduct.tax}}</span>
                </dd>
                <dt><span>Date Purchase</span></dt>
                <dd>
                    <span>{{purchaseHasProduct.datePurchase}}</span>
                </dd>
                <dt><span>Purchase</span></dt>
                <dd>
                    <div *ngIf="purchaseHasProduct.purchaseId">
                        <a [routerLink]="['/purchase', purchaseHasProduct.purchaseId, 'view']">{{purchaseHasProduct.purchaseId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase-has-product', purchaseHasProduct.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
