<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2><span>Employee</span> {{employee.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{employee.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{employee.lastName}}</span>
                </dd>
                <dt><span>Dni</span></dt>
                <dd>
                    <span>{{employee.dni}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{employee.address}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{employee.email}}</span>
                </dd>
                <dt><span>Birthday</span></dt>
                <dd>
                    <span>{{employee.birthday}}</span>
                </dd>
                <dt><span>Sex</span></dt>
                <dd>
                    <span>{{employee.sex}}</span>
                </dd>
                <dt><span>Cellphone</span></dt>
                <dd>
                    <span>{{employee.cellphone}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="employee.image">
                        <a (click)="openFile(employee.imageContentType, employee.image)">
                            <img [src]="'data:' + employee.imageContentType + ';base64,' + employee.image" style="max-width: 100%;" alt="employee image"/>
                        </a>
                        {{employee.imageContentType}}, {{byteSize(employee.image)}}
                    </div>
                </dd>
                <dt><span>Employee Role</span></dt>
                <dd>
                    <span>{{employee.employeeRole}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{employee.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
