<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="operation">
            <h2><span>Operation</span> {{operation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Init Date</span></dt>
                <dd>
                    <span>{{operation.initDate}}</span>
                </dd>
                <dt><span>Gloss</span></dt>
                <dd>
                    <span>{{operation.gloss}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{operation.amount}}</span>
                </dd>
                <dt><span>Operation Type</span></dt>
                <dd>
                    <span>{{operation.operationType}}</span>
                </dd>
                <dt><span>Box</span></dt>
                <dd>
                    <div *ngIf="operation.boxId">
                        <a [routerLink]="['/box', operation.boxId, 'view']">{{operation.boxId}}</a>
                    </div>
                </dd>
                <dt><span>Payment Type</span></dt>
                <dd>
                    <div *ngIf="operation.paymentTypeId">
                        <a [routerLink]="['/payment-type', operation.paymentTypeId, 'view']">{{operation.paymentTypeId}}</a>
                    </div>
                </dd>
                <dt><span>Concept Operation Input</span></dt>
                <dd>
                    <div *ngIf="operation.conceptOperationInputId">
                        <a [routerLink]="['/concept-operation-input', operation.conceptOperationInputId, 'view']">{{operation.conceptOperationInputId}}</a>
                    </div>
                </dd>
                <dt><span>Concept Operation Output</span></dt>
                <dd>
                    <div *ngIf="operation.conceptOperationOutputId">
                        <a [routerLink]="['/concept-operation-output', operation.conceptOperationOutputId, 'view']">{{operation.conceptOperationOutputId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/operation', operation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
