<div>
    <h2 id="page-heading">
        <span>Operacions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-operacion" [routerLink]="['/operacion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Operacion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="operacions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span>Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="glosa"><span>Glosa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="monto"><span>Monto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoDeOperacion"><span>Tipo De Operacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cajaId"><span>Caja</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoDePagoNombre"><span>Tipo De Pago</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoDeOperacionDeIngresoNombre"><span>Tipo De Operacion De Ingreso</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoDeOperacionDeGastoNombre"><span>Tipo De Operacion De Gasto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let operacion of operacions ;trackBy: trackId">
                <td><a [routerLink]="['/operacion', operacion.id, 'view' ]">{{operacion.id}}</a></td>
                <td>{{operacion.fecha | date:'mediumDate'}}</td>
                <td>{{operacion.glosa}}</td>
                <td>{{operacion.monto}}</td>
                <td>{{operacion.tipoDeOperacion}}</td>
                <td>
                    <div *ngIf="operacion.cajaId">
                        <a [routerLink]="['../caja', operacion.cajaId , 'view' ]" >{{operacion.cajaId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="operacion.tipoDePagoId">
                        <a [routerLink]="['../tipo-de-pago', operacion.tipoDePagoId , 'view' ]" >{{operacion.tipoDePagoNombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="operacion.tipoDeOperacionDeIngresoId">
                        <a [routerLink]="['../tipo-de-operacion-de-ingreso', operacion.tipoDeOperacionDeIngresoId , 'view' ]" >{{operacion.tipoDeOperacionDeIngresoNombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="operacion.tipoDeOperacionDeGastoId">
                        <a [routerLink]="['../tipo-de-operacion-de-gasto', operacion.tipoDeOperacionDeGastoId , 'view' ]" >{{operacion.tipoDeOperacionDeGastoNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/operacion', operacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/operacion', operacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'operacion/'+ operacion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
