<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-box-heading">Create or edit a Box</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!box.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="box.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_initAmount">Init Amount</label>
                    <input type="number" class="form-control" name="initAmount" id="field_initAmount"
                        [(ngModel)]="box.initAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_actualAmount">Actual Amount</label>
                    <input type="number" class="form-control" name="actualAmount" id="field_actualAmount"
                        [(ngModel)]="box.actualAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_initDate">Init Date</label>
                    <div class="input-group">
                        <input id="field_initDate" type="text" class="form-control" name="initDate" ngbDatepicker  #initDateDp="ngbDatepicker" [(ngModel)]="box.initDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="initDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="box.endDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_box">Box</label>
                    <select class="form-control" id="field_box" name="box" [(ngModel)]="box.boxId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="boxOption.id" *ngFor="let boxOption of boxes; trackBy: trackBoxById">{{boxOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
