<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-venta-heading">Create or edit a Venta</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!venta.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="venta.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codigo">Codigo</label>
                    <input type="text" class="form-control" name="codigo" id="field_codigo"
                        [(ngModel)]="venta.codigo" required maxlength="150"/>
                    <div [hidden]="!(editForm.controls.codigo?.dirty && editForm.controls.codigo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codigo?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codigo?.errors?.maxlength">
                        This field cannot be longer than 150 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subTotal">Sub Total</label>
                    <input type="number" class="form-control" name="subTotal" id="field_subTotal"
                        [(ngModel)]="venta.subTotal" required/>
                    <div [hidden]="!(editForm.controls.subTotal?.dirty && editForm.controls.subTotal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.subTotal?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.subTotal?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_impuesto">Impuesto</label>
                    <input type="number" class="form-control" name="impuesto" id="field_impuesto"
                        [(ngModel)]="venta.impuesto" required/>
                    <div [hidden]="!(editForm.controls.impuesto?.dirty && editForm.controls.impuesto?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.impuesto?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.impuesto?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_montoTotal">Monto Total</label>
                    <input type="number" class="form-control" name="montoTotal" id="field_montoTotal"
                        [(ngModel)]="venta.montoTotal" required/>
                    <div [hidden]="!(editForm.controls.montoTotal?.dirty && editForm.controls.montoTotal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.montoTotal?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.montoTotal?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" [(ngModel)]="venta.fecha"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estatus">Estatus</label>
                    <select class="form-control" name="estatus" [(ngModel)]="venta.estatus" id="field_estatus" >
                        <option value="PENDIENTE">PENDIENTE</option>
                        <option value="COMPLETADO">COMPLETADO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_glosa">Glosa</label>
                    <input type="text" class="form-control" name="glosa" id="field_glosa"
                        [(ngModel)]="venta.glosa" maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.glosa?.dirty && editForm.controls.glosa?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.glosa?.errors?.maxlength">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_metaData">Meta Data</label>
                    <input type="text" class="form-control" name="metaData" id="field_metaData"
                        [(ngModel)]="venta.metaData" required maxlength="5000"/>
                    <div [hidden]="!(editForm.controls.metaData?.dirty && editForm.controls.metaData?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.metaData?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.metaData?.errors?.maxlength">
                        This field cannot be longer than 5000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="venta.clienteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_empleado">Empleado</label>
                    <select class="form-control" id="field_empleado" name="empleado" [(ngModel)]="venta.empleadoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empleadoOption.id" *ngFor="let empleadoOption of empleados; trackBy: trackEmpleadoById">{{empleadoOption.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_caja">Caja</label>
                    <select class="form-control" id="field_caja" name="caja" [(ngModel)]="venta.cajaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cajaOption.id" *ngFor="let cajaOption of cajas; trackBy: trackCajaById">{{cajaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipoDeDocumentoDeVenta">Tipo De Documento De Venta</label>
                    <select class="form-control" id="field_tipoDeDocumentoDeVenta" name="tipoDeDocumentoDeVenta" [(ngModel)]="venta.tipoDeDocumentoDeVentaId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoDeDocumentoDeVentaOption.id" *ngFor="let tipoDeDocumentoDeVentaOption of tipodedocumentodeventas; trackBy: trackTipoDeDocumentoDeVentaById">{{tipoDeDocumentoDeVentaOption.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipoDePago">Tipo De Pago</label>
                    <select class="form-control" id="field_tipoDePago" name="tipoDePago" [(ngModel)]="venta.tipoDePagoId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoDePagoOption.id" *ngFor="let tipoDePagoOption of tipodepagos; trackBy: trackTipoDePagoById">{{tipoDePagoOption.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_productos">Productos</label>
                    <select class="form-control" id="field_productos" multiple name="productos" [(ngModel)]="venta.productos">
                        <option [ngValue]="getSelected(venta.productos, productoOption)" *ngFor="let productoOption of productos; trackBy: trackProductoById">{{productoOption.codigo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_productoDetalles">Producto Detalles</label>
                    <select class="form-control" id="field_productoDetalles" multiple name="productoDetalles" [(ngModel)]="venta.productoDetalles">
                        <option [ngValue]="getSelected(venta.productoDetalles, productoDetalleOption)" *ngFor="let productoDetalleOption of productodetalles; trackBy: trackProductoDetalleById">{{productoDetalleOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
