<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-order-product-heading">Create or edit a Order Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!orderProduct.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="orderProduct.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="orderProduct.note" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_guide">Guide</label>
                    <input type="text" class="form-control" name="guide" id="field_guide"
                        [(ngModel)]="orderProduct.guide" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_orderStatus">Order Status</label>
                    <select class="form-control" name="orderStatus" [(ngModel)]="orderProduct.orderStatus" id="field_orderStatus" >
                        <option value="CREADO">CREADO</option>
                        <option value="CANCELADO">CANCELADO</option>
                        <option value="ENVIADO_EN_PROCESO">ENVIADO_EN_PROCESO</option>
                        <option value="ENVIADO_CANCELADO">ENVIADO_CANCELADO</option>
                        <option value="ENTREGADO">ENTREGADO</option>
                        <option value="ENTREGADO_ERROR">ENTREGADO_ERROR</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_metaData">Meta Data</label>
                    <input type="text" class="form-control" name="metaData" id="field_metaData"
                        [(ngModel)]="orderProduct.metaData" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_provider">Provider</label>
                    <select class="form-control" id="field_provider" name="provider" [(ngModel)]="orderProduct.providerId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="providerOption.id" *ngFor="let providerOption of providers; trackBy: trackProviderById">{{providerOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_products">Products</label>
                    <select class="form-control" id="field_products" multiple name="products" [(ngModel)]="orderProduct.products">
                        <option [ngValue]="getSelected(orderProduct.products, productOption)" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
