<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userLogin">
            <h2><span>User Login</span> {{userLogin.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Dni</span></dt>
                <dd>
                    <span>{{userLogin.dni}}</span>
                </dd>
                <dt><span>Pin</span></dt>
                <dd>
                    <span>{{userLogin.pin}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{userLogin.email}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-login', userLogin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
