<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <h4>Detalles del Producto</h4>
        <form class="basic-form">
          <div fxLayout="row wrap">
            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">Nombre:</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <span>{{entity.codigo}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">Descripción:</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <span>{{entity.descripcion}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">Fecha de Expiración:</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <span>{{entity.fechaExpiracion}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">¿Es Favorito?:</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <span>{{entity.esFavorito}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">¿Visible para la Venta?:</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <span>{{entity.visibleParaLaVenta}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">Stock:</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <span>{{entity.stock}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">Notificación De Limite De Stock:</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <span>{{entity.notificacionDeLimiteDeStock}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">Tipo de producto:</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <span>{{entity.tipoDeProducto}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">Unidad De Medida:</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <span>{{entity.unidadDeMedida}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">Categoria:</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <div *ngIf="entity.categoriaId">
                  <span>{{entity.categoriaNombre}}</span>
                </div>
              </div>
            </div>

            <div fxFlex.gt-xs="25" fxFlex="100">
              <div fxLayout="column">
                <span class="font-bold">Imagen:</span>
              </div>
            </div>
            <div fxFlex.gt-xs="75" fxFlex="100">
              <div fxLayout="column">
                <div>
                  <img [src]="'data:' + entity.imagenContentType + ';base64,' + entity.imagen" style="max-height: 100px;" *ngIf="entity.imagen" alt="entity image"/>
                </div>
              </div>
            </div>


          </div>
        </form>
        <div class="p-10 text-right">
          <div class="button-row">
            <button mat-raised-button color="basic" class="bg-warning" (click)="previousState()">IMPRIMIR</button>
            <button mat-raised-button color="primary" (click)="previousState()">ACEPTAR</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
