.mat-dialog-title{
    text-align: center;
    background-color: gray;
    color: white;
}

.oh {
    cursor: pointer;
}

.oh:hover,
.oh:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
  background-color:#1ab394;
  .m-0{
      color: white;
  }
}
