<h1 mat-dialog-title style="text-align: center;">{{data.entity.nombre}}</h1>
<div mat-dialog-content>
  <div fxLayout="row wrap">
    <p style="width:100%; text-align: center;">Escoja la equivalencia del producto</p>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex.gt-lg="25" fxFlex.gt-md="33" fxFlex.gt-xs="33" fxFlex="100" *ngFor="let variant of data.entity.variantes "
         (click)="getResult(true, variant)">
      <mat-card class="oh" style="cursor: pointer; border: 1px solid #bec3c8; color: black; text-align: center;">
        <h6 class="m-0">{{variant.nombre}}</h6>
        <h6 class="m-0">S/. {{variant.precioCompra}}</h6>
      </mat-card>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="33" fxFlex.gt-xs="33" fxFlex="100" (click)="getResult(false, null)">
      <mat-card class="oh" style="cursor: pointer; border: 1px solid #bec3c8; color: black; text-align: center;">
        <h6 class="m-0">{{data.entity.unidadDeMedida}}</h6>
        <h6 class="m-0">S/. {{data.entity.precioVenta}}</h6>
      </mat-card>
    </div>
  </div>
</div>
