<!--<h1 mat-dialog-title>Información de la venta</h1>-->

<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <div style="display: flex; background-color: #ebecec">
      <div fxFlex.gt-xs="50" fxFlex="25" class="p-10">
        <span>Información de la venta</span>
      </div>

      <div fxFlex.gt-xs="50" fxFlex="75" class="p-10 text-right">

        <div fxFlex.gt-xs="92" fxFlex="92" class="p-10 text-right">
          <div class="button-row">
            <button mat-raised-button color="warn" (click)="closeAndCheckSell('exit')">Eliminar Venta (x)</button>
          </div>
          <!--<mat-icon color= "primary" style="cursor: pointer;">delete</mat-icon>-->
        </div>

        <div fxFlex.gt-xs="8" fxFlex="8" class="p-10">
          <!--<div class="button-row">-->
            <!--<button mat-raised-button color="warn" (click)="closeAndCheckSell('exit')">Eliminar Venta (x)</button>-->
          <!--</div>-->
          <mat-icon (click)="onNoClick()" style="cursor: pointer; color: black;">clear</mat-icon>
        </div>

        <!--<div class="button-row">-->
          <!--<button mat-raised-button color="warn" (click)="closeAndCheckSell('exit')">Eliminar Venta (x)</button>-->
        <!--</div>-->
        <!--<mat-icon color= "primary" style="cursor: pointer;">delete</mat-icon>-->
      </div>
    </div>
  </div>
</div>

<div mat-dialog-content>
  <div fxLayout="row wrap">

    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="p-10">
      <mat-form-field>
        <mat-select placeholder="Tipo de Documento" [(ngModel)]="data.entity.tipoDeDocumentoDeVentaId" name="documentTypeSell">
          <mat-option *ngFor="let documentTypeSellOption of documentTypeSells;" [value]="documentTypeSellOption.id">
            {{documentTypeSellOption.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex.gt-sm="50" fxFlex="100" class="p-10"></div>
    <!-- column -->
    <div fxFlex.gt-sm="35" fxFlex="100" class="p-10">
      <mat-form-field>
        <input matInput placeholder="Cliente / Razón Social" name="Cliente / Razón Social" type="text" maxlength="150" [(ngModel)]="data.client.nombre" disabled>
      </mat-form-field>
    </div>

    <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
      <mat-form-field>
        <input matInput placeholder="Dni o Ruc" name="Dni o Ruc" type="text" maxlength="11" [(ngModel)]="amortization.codigoDocumento" disabled>
      </mat-form-field>
    </div>

    <div fxFlex.gt-sm="40" fxFlex="100" class="p-10">
      <mat-form-field>
        <input matInput placeholder="Dirección" name="Dirección" type="text" maxlength="150" [(ngModel)]="data.client.direccion" disabled>
      </mat-form-field>
    </div>

    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="p-10">
      <mat-form-field>
        <mat-select placeholder="Medio de pago" [(ngModel)]="data.entity.tipoDePagoId" name="paymentType" (ngModelChange)="validateCredit()">
          <mat-option *ngFor="let paymentTypeOption of paymentTypes;" [value]="paymentTypeOption.id">
            {{paymentTypeOption.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
      <mat-form-field>
        <!--<input matInput #inputAmount placeholder="Pago en Efectivo" name="payment" type="text" maxlength="10" (keypress)="checkNumbersDecimalOnly($event)" [(ngModel)]="amortization.montoPagado" [disabled]="isCredit">-->
        <input matInput placeholder="Pago en Efectivo" name="payment" type="text" maxlength="10" (keypress)="checkNumbersDecimalOnly($event)" [(ngModel)]="amortization.montoPagado" [disabled]="isCredit">
        <span matPrefix>S/&nbsp;</span>
      </mat-form-field>
    </div>

    <div fxFlex="25" class="p-10" *ngIf="isCredit">
      <mat-form-field>
        <input matInput placeholder="Dias de credito" name="creditPaymentDay" type="text" maxlength="10" (keypress)="checkNumbersOnly($event)" [(ngModel)]="data.entity.diasCredito">
      </mat-form-field>
    </div>

    <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
      <mat-form-field>
        <input matInput placeholder="Glosa" name="Glosa" type="text" maxlength="150" [(ngModel)]="data.entity.glosa">
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row wrap">
    <h1 mat-dialog-title style="width: 100%; text-align: center;">Total : S/ {{data.entity.montoTotal}}</h1>
  </div>

  <div fxLayout="row wrap">
    <h1 mat-dialog-title style="width: 100%; text-align: center; color:#30ad80">Vuelto : {{parseFloatCustom(amortization.montoPagado - data.entity.montoTotal) < 0 ? 0 : parseFloatCustom(amortization.montoPagado - data.entity.montoTotal)}} soles</h1>
  </div>
</div>
<div style="width: 100%;" mat-dialog-actions>
  <button style="background-color: #1ab394; color: white; border-radius: initial; width:72%" mat-button tabindex="2" (click)="closeAndCheckSell('pay')" [disabled]="validatePaymentInvalid()">Pagar</button>
  <button style="width: 25%;" mat-button tabindex="-1" (click)="closeAndCheckSell('save')">Guardar</button>
</div>
