<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <!--<div style="display: flex;">-->
      <!--<div fxFlex.gt-xs="50" fxFlex="25" class="p-10" style="cursor: pointer">-->
        <!--<a [routerLink]="['/ventas/sell/list']"> <mat-icon>arrow_back</mat-icon>-->
          <!--<span class="goBackTag">Todas las ventas</span> </a>-->
      <!--</div>-->


      <!--&lt;!&ndash;<div fxFlex.gt-xs="50" fxFlex="75" class="p-10 text-right">-->
        <!--<div class="button-row">-->
          <!--<button mat-raised-button style="background-color: #60c71f; color: white;" [disabled]="!form.valid" (click)="save()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>-->
          <!--<button mat-raised-button (click)="previousState()">Cancelar</button>-->
        <!--</div>-->
      <!--</div>&ndash;&gt;-->
    <!--</div>-->
  </div>
</div>

<div fxLayout="row wrap">
  <mat-card fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex="100">
    <mat-card-content>

      <div fxLayout="row wrap">
        <button mat-icon-button color= "primary" (click)="searchProduct(currentSearchProduct)"><mat-icon>search</mat-icon></button>
        <mat-form-field fxFlex.gt-sm="90" fxFlex="90">
          <input matInput [(ngModel)]="currentSearchProduct" placeholder="Buscar" (keyup)="validateSearchProduct()" (keyup.enter)="searchProduct(currentSearchProduct)" >
        </mat-form-field>
      </div>

      <div id="product-layout"fxLayout="bg-light">

        <div fxFlex.gt-lg="25" fxFlex.gt-md="33" fxFlex.gt-xs="33" fxFlex="100" *ngFor="let product of productos ">
          <mat-card class="oh" (click)="openDialogVariantSelection(product)">
              <h6 class="m-0">S/. {{product.precioVenta}}</h6>
            <img mat-card-image [src]="product.imagen ? 'data:' + product.imagenContentType + ';base64,' + product.imagen : 'assets/images/big/img1.jpg'" alt="Photo of a Shiba Inu">
              <!--<h6 class="m-0">stock: {{product.stock}}</h6>-->
              <h6 class="m-0">{{product.stock}}</h6>
              <small>{{product.nombre}}</small>
          </mat-card>
        </div>
      </div>
          <div id="foot-div" *ngIf="productos.length > 0">
              <div id="foot">productos encontrados {{productos.length}} unid</div>
          </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="stateStep === 'sell'" fxFlex.gt-lg="35" fxFlex.gt-md="35" fxFlex.gt-sm="35" fxFlex="100">
    <mat-card-content>
        <div *ngIf="client.nombre === undefined" fxLayout="row wrap">
            <mat-form-field fxFlex.gt-sm="85" fxFlex="85" (click)="stateStep = 'clientList'">
              <input matInput [(ngModel)]="currentSearchProduct" placeholder="Seleccionar Cliente" (keyup)="validateSearchProduct()" (keyup.enter)="searchProduct(currentSearchProduct)" >
            </mat-form-field>
            <button id= "btn-add-person" mat-icon-button color= "primary" (click)="stateStep = 'clientUpdate'"><mat-icon>person_add</mat-icon></button>
          </div>

        <div fxLayout="row wrap" *ngIf="client.nombre !== undefined">
            <mat-form-field fxFlex.gt-sm="87" fxFlex="87">
              <input matInput [(ngModel)]="client.nombre" disabled >
            </mat-form-field>
            <button mat-icon-button color= "primary" (click)="removeCliente()"><mat-icon>delete</mat-icon></button>
          </div>
      <!--<div fxLayout="row wrap">
        <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
          <div style="display: flex;">
            <div fxFlex.gt-xs="100" fxFlex="100" class="p-10 text-right">
              <div class="button-row" width=100%>
                <span *ngIf="client.nombre !== ''">{{client.nombre}}</span><button mat-raised-button (click)="goStep('clientList', null, null)">Seleccionar Cliente</button>
              </div>
            </div>
          </div>
        </div>
      </div>-->

      <form class="basic-form">
        <div fxLayout="row wrap">
          <div class="responsive-table">
            <mat-table #table matSort [dataSource]="dataSourceProductosDetalles" class="mat-elevation-z8">

              <ng-container matColumnDef="cantidad">
                <mat-header-cell *matHeaderCellDef> Cant. </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index">
                  <span class="header-label">Cant:</span>
                  <input matInput placeholder="Cant" type="text" (keypress)="checkNumbersOnly($event)" (blur)="saveChangesInProductosDetallesRow($event, i, 'cantidad')" value="{{row.cantidad}}">
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="producto">
                <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index">
                  <span class="header-label">Producto:</span>
                  <input matInput placeholder="Producto" type="text" maxlength="10" (blur)="saveChangesInProductosDetallesRow($event, i, 'producto')" value="{{row.productoLabel}}" disabled>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="precioVenta">
                <mat-header-cell *matHeaderCellDef> PU. </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index">
                  <span class="header-label">PU.:</span>
                  <input matInput placeholder="PU." type="text" maxlength="10" (keypress)="checkNumbersDecimalOnly($event)" (blur)="saveChangesInProductosDetallesRow($event, i, 'precioVenta')" value="{{parseFloatCustom(row.precioVenta)}}">
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="precioTotal">
                <mat-header-cell *matHeaderCellDef> PT. </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index">
                  <span class="header-label">PT.:</span>
                  <input matInput placeholder="PT." type="text" maxlength="10" (keypress)="checkNumbersDecimalOnly($event)" (blur)="saveChangesInProductosDetallesRow($event, i, 'precioVenta')" value="S/ {{parseFloatCustom(row.precioVenta*row.cantidad)}}" disabled>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="quitar">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index">
                  <span class="header-label">Quitar:</span>
                  <a (click)="deleteProductosDetalles(i, row)" class="ng-star-inserted">
                    <i class="ti-trash text-danger m-r-10"></i>
                  </a>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsProductosDetalles"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsProductosDetalles;let i = index"></mat-row>
            </mat-table>
          </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-content class="row wrap">

      <!--<button class="accordion">∧</button>
      <div class="panel">-->
          <div fxLayout="row wrap" id= lblempleado>
                  <!--<span class="empleado-lbl">Empleado</span>-->

              <mat-form-field fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" >
                <mat-select placeholder="Elegir empleado" [(ngModel)]="entity.empleadoId" name="empleado">
                  <mat-option *ngFor="let empleado of empleados;" [value]="empleado.id">
                    {{empleado.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
      <!--/div>-->

      <div class="d-flex align-items-center">

        <div class="text-right ml-auto">
          <h6 class="text-uppercase text-md ma-0 text-bold">Subtotal :</h6>
          <h6 class="text-uppercase text-md ma-0 text-bold">Impuesto({{entity.impuesto}}%) :</h6>
          <h6 class="text-uppercase text-sm ma-0 text-bold">Total :</h6>
        </div>
        <div class="m-l-10">
          <h4 class="font-medium">{{parseFloatCustom(entity.subTotal)}}</h4>
          <h4 class="font-medium">{{parseFloatCustom((entity.subTotal * entity.impuesto) / 100)}}</h4>
          <h4 class="font-medium">{{parseFloatCustom(entity.montoTotal)}}</h4>
        </div>
      </div>
    </mat-card-content>

    <div class="button-row">
      <button mat-raised-button style="background-color: #1ab394; color: white; border-radius: initial; width:72%" [disabled]="client.id === undefined || entity.productoDetalles.length === 0 || entity.montoTotal < 1" (click)="addExtraInfoSell()">Vender</button>
      <button mat-raised-button style="width:28%; border-radius: initial;"(click)="previousState()">Cancelar</button>
    </div>
  </mat-card>

  <mat-card *ngIf="stateStep === 'clientList'" fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-sm="40" fxFlex="100">
    <mat-card-content>
      <!--<form class="basic-form">-->

        <div fxLayout="row wrap">
          <div fxFlex.gt-xs="50" fxFlex="25" class="p-10" (click)="goStep('sell', null, null)" style="cursor: pointer">
            <mat-icon>arrow_back</mat-icon>
            <span class="goBackTag">Regresar a la venta</span>
          </div>
        </div>

        <div fxLayout="row wrap">
          <mat-form-field fxFlex.gt-sm="100" fxFlex="100">
            <input matInput [(ngModel)]="currentSearchClient" placeholder="Escriba para buscar clientes" (keyup)="validateSearchClient()" (keyup.enter)="searchClient(currentSearchClient)" >
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">
          <div class="p-10">
            <div class="button-row">
              <button mat-raised-button (click)="goStep('clientUpdate', 'new', null)">Agregar nuevo cliente</button>
            </div>
          </div>
        </div>

        <!--<div fxLayout="row wrap">-->
          <div class="responsive-table">
            <mat-table #table matSort [dataSource]="dataSourceClientes" class="mat-elevation-z8">

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index" (click)="setClient(row)">
                  <span class="header-label">Nombre</span>
                  {{row.nombre}}
                  <br>
                  {{row.tipoDeCliente === 'NATURAL' ? 'DNI' : 'RUC'}}:{{row.codigo}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index">
                  <span class="header-label">Editar:</span>
                  <a (click)="goStep('clientUpdate', 'edit', row)" class="ng-star-inserted">
                    <i class="ti-pencil text-info m-r-10"></i>
                  </a>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsClientes"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsClientes;let i = index"></mat-row>
            </mat-table>
          </div>
        <!--</div>-->
      <!--</form>-->
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="stateStep === 'clientUpdate'" fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-sm="40" fxFlex="100">
    <mat-card-content>
      <!--<form class="basic-form">-->

      <div fxLayout="row wrap">
        <div fxFlex.gt-xs="50" fxFlex="25" class="p-10"  (click)="goStep('clientList', null, null)" style="cursor: pointer">
          <mat-icon>arrow_back</mat-icon>
          <span class="goBackTag">Todos los clientes</span>
        </div>
      </div>



      <div fxLayout="row wrap">
        <mat-form-field fxFlex.gt-sm="100" fxFlex="100">
          <input matInput [(ngModel)]="client.nombre" placeholder="Nombre completo *"  type="text" maxlength="150" (keypress)="checkCharactersOnly($event)">
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field fxFlex.gt-sm="100" fxFlex="100">
          <input matInput [(ngModel)]="client.direccion" placeholder="Dirección"  type="text" maxlength="150" (keypress)="checkCharactersOnly($event)">
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" >
          <mat-select placeholder="Tipo de Cliente" [(ngModel)]="client.tipoDeCliente" name="tipoDeCliente">
            <mat-option *ngFor="let tipoCliente of tiposDeCliente" [value]="tipoCliente">
              {{tipoCliente}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" >
          <mat-select placeholder="Tipo de Documento" [(ngModel)]="client.tipoDeDocumentoId" name="tipoDeDocumento">
            <mat-option [value]="null"></mat-option>
            <mat-option *ngFor="let tipoDocumento of tiposDeDocumento;" [value]="tipoDocumento.id">
              {{tipoDocumento.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field fxFlex.gt-sm="100" fxFlex="100">
          <input matInput [(ngModel)]="client.codigo"  type="text" maxlength="11" (keypress)="checkNumbersOnly($event)" placeholder="Documento">
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" >
          <input matInput [matDatepicker]="picker" [(ngModel)]="client.fechaDeNacimiento" placeholder="Fecha de Nacimiento" [disabled]="client.tipoDeCliente === 'JURIDICO'">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field  fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" >
          <input matInput [(ngModel)]="client.telefono"  type="text" maxlength="11" (keypress)="checkNumbersOnly($event)" placeholder="Teléfono">
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
          <mat-select placeholder="Sexo" [(ngModel)]="client.sexo" name="sex" [disabled]="client.tipoDeCliente === 'JURIDICO'">
            <mat-option *ngFor="let sex of sexos" [value]="sex">
              {{sex}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" >
          <mat-select placeholder="Estado Civil" [(ngModel)]="client.estatusCivil" name="estatusCivil">
            <mat-option *ngFor="let estadoCivil of estatusCiviles" [value]="estadoCivil" [disabled]="client.tipoDeCliente === 'JURIDICO'">
              {{estadoCivil}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field fxFlex.gt-sm="100" fxFlex="100">
          <input matInput [(ngModel)]="client.correo" placeholder="Email">
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <div class="p-10">
          <div class="button-row">
            <button mat-raised-button  (click)="goStep('clientList', null, null)">Cancelar</button>
            <button mat-raised-button (click)="saveClient()">Guardar</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!--<div fxFlex.gt-xs="50" fxFlex="75" class="p-10 text-right">
      <div class="button-row">
        <button mat-raised-button style="background-color: #60c71f; color: white;" [disabled]="!form.valid" (click)="save()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <button mat-raised-button (click)="previousState()">Cancelar</button>
      </div>
  </div>-->
</div>
