<div fxLayout="row wrap">
  <!-- Column-->
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Ventas</mat-card-title>

        <div class="responsive-table">
          <div fxLayout="row wrap">    
              <button mat-icon-button color= "primary" (click)="search(currentSearch)"><mat-icon>search</mat-icon></button>
            <mat-form-field fxFlex.gt-sm="60" fxFlex="60">
              <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">-->
              <input matInput [(ngModel)]="currentSearch" placeholder="Buscar" (keyup.enter)="search(currentSearch)">
            </mat-form-field>
            
            <div fxFlex.gt-sm="35" fxFlex="35" id="newSection">
              <button mat-raised-button color="primary" [routerLink]="['/ventas/sell']">Nueva Venta</button>
            </div>
          </div>

          <mat-table #table matSort [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="data">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-header-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="codigo">
              <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Código:</span>
                {{element.codigo}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fecha">
              <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Fecha:</span>
                {{element.fecha}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="clienteNombre">
              <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Cliente:</span>
                {{element.clienteNombre}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Total:</span>
                S/.{{element.montoTotal}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Estado:</span>
                <span [ngStyle]="{'color': element.estatus === 'PENDIENTE' ? 'yellow' : 'green'}">{{element.estatus}}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="star">
              <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a class="ng-star-inserted" [routerLink]="['/ventas/sell', element.id, 'view' ]">
                  <i class="ti-eye text-info m-r-10"></i>
                </a>

                <a *ngIf="element.amortizacions.length === 0" class="ng-star-inserted" [routerLink]="['/ventas/sell', element.id, 'edit']">
                  <i class="ti-pencil text-info m-r-10"></i>
                </a>
                <!--<a class="ng-star-inserted" (click)="deleteRow(element)">-->
                <a *ngIf="element.amortizacions.length === 0" class="ng-star-inserted" (click)="openDialog(element)">
                  <i class="ti-trash text-danger m-r-10"></i>
                </a>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
        <!--<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">-->
        <!--</mat-paginator>-->
      </mat-card-content>
    </mat-card>
  </div>
</div>
