
<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="m-0">
      <mat-card-content class="content-body-detail">

        <div class="content_header">
          <div class="content_header_name">
            <h4 class="header_name_detail m-0">Detalles de la Venta</h4>
          </div>
          <div class="content_header_button">
            <a mat-raised-button color="basic"  [routerLink]="['/ventas/sell/list']" class="p-r-5">Regresar <mat-icon> reply </mat-icon></a>
            <a mat-raised-button color="primary" [routerLink]="['/ventas/sell', entity.id, 'edit']" class="m-l-10 p-r-5">Editar <i _ngcontent-c29="" class="ti-pencil-alt"></i></a>
          </div>
        </div>

        <form class="basic-form">
          <!--Header-->
          <div fxLayout="row wrap ">
            <div fxFlex.gt-xs="20" fxFlex="100">
              <div class="content-name-header" fxLayout="column">
                <span class="title-name-header">N° comprovante</span>
              </div>
            </div>
            <div fxFlex.gt-xs="80" fxFlex="100">
              <div style="margin-left: 5px" fxLayout="column">
                <span>{{entity.codigo}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="20" fxFlex="100">
              <div class="content-name-header" fxLayout="column">
                <span class="title-name-header">Cliente</span>
              </div>
            </div>
            <div fxFlex.gt-xs="80" fxFlex="100">
              <div style="margin-left: 5px" fxLayout="column">
                <span>{{entity.clienteNombre ? entity.clienteNombre : 'Cliente'}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="20" fxFlex="100">
              <div class="content-name-header" fxLayout="column">
                <span class="title-name-header">Fecha</span>
              </div>
            </div>
            <div fxFlex.gt-xs="80" fxFlex="100">
              <div class="m-l-5" fxLayout="column">
                <span>{{entity.fecha}}</span>
              </div>
            </div>

            <div fxFlex.gt-xs="20" fxFlex="100">
              <div class="content-name-header" fxLayout="column">
                <span class="title-name-header">Estado</span>
              </div>
            </div>
            <div fxFlex.gt-xs="80" fxFlex="100">
              <div style="margin-left: 5px" fxLayout="column">
                <span>{{entity.estatus}}</span>
              </div>
            </div>

          </div>
          <!--Products-->
          <div class="responsive-table">
            <mat-table #table matSort [dataSource]="dataSourceProductosDetalles" class="mat-elevation-z8">

              <ng-container matColumnDef="producto">
                <mat-header-cell *matHeaderCellDef class="table_header_name"> Productos</mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index" class="table_datos">
                  <span class="header-label">Productos:</span>
                  {{row.productoLabel}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="cantidad">
                <mat-header-cell *matHeaderCellDef class="table_header_name"> Cantidad </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index" class="table_datos">
                  <span class="header-label">Cant:</span>
                  {{row.cantidad}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="precioVenta">
                <mat-header-cell *matHeaderCellDef class="table_header_name"> Precio </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index" class="table_datos">
                  <span class="header-label">PU.:</span>
                  {{parseFloatCustom(row.precioVenta)}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="precioTotal">
                <mat-header-cell *matHeaderCellDef class="table_header_name"> Importe </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index" class="table_datos">
                  <span class="header-label">PT.:</span>
                  {{parseFloatCustom(row.precioVenta*row.cantidad)}}
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsProductosDetalles"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsProductosDetalles;let i = index"></mat-row>
            </mat-table>
          </div>
          <!--Cabezera_Amortizaciones-->
          <div fxLayout="row wrap ">
            <div fxFlex.gt-xs="70" fxFlex="100">
              <div fxLayout="column">
                <span class="title_amortizaciones">Detalles de pagos</span>
              </div>
            </div>
            <div fxFlex.gt-xs="30" fxFlex="100">
              <div style="margin-left: 5px" fxLayout="column">
                <span class="title_amortizaciones"></span>
              </div>
            </div>
          </div>
          <!--Amortizaciones and detail-->
          <div fxLayout="row wrap ">
            <!--Amortizaciones -->
            <div fxFlex.gt-xs="70" fxFlex="100">
              <div fxLayout="column">
                <div class="responsive-table">
                  <mat-table #table matSort [dataSource]="dataSourceAmortizaciones" class="mat-elevation-z8">

                    <ng-container matColumnDef="comprobante">
                      <mat-header-cell *matHeaderCellDef class="table_header_name">Nº Recibo </mat-header-cell>
                      <mat-cell *matCellDef="let row;let i = index" class="table_datos">
                        <span class="header-label">Recibo:</span>
                        {{row.comprobante}}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fecha">
                      <mat-header-cell *matHeaderCellDef class="table_header_name"> Fecha </mat-header-cell>
                      <mat-cell *matCellDef="let row;let i = index" class="table_datos">
                        <span class="header-label">Fecha:</span>
                        {{row.fecha}}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="metodo">
                      <mat-header-cell *matHeaderCellDef class="table_header_name"> Metodo </mat-header-cell>
                      <mat-cell *matCellDef="let row;let i = index" class="table_datos">
                        <span class="header-label">Metodo:</span>
                        {{row.tipoDePagoNombre}}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="importe">
                      <mat-header-cell *matHeaderCellDef class="table_header_name"> Importe </mat-header-cell>
                      <mat-cell *matCellDef="let row;let i = index" class="table_datos">
                        <span class="header-label">Importe:</span>
                        {{row.montoPagado}}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="img">
                      <mat-header-cell *matHeaderCellDef class="table_header_name">Img Recibo </mat-header-cell>
                      <mat-cell *matCellDef="let row;let i = index">
                        <span class="header-label">Imagen:</span>
                        <div *ngIf="row.fotoComprobante">
                          <a [href]="'data:' + row.fotoComprobanteContentType + ';base64,' + row.fotoComprobante" *ngIf="row.fotoComprobante" target="_blank" class="table_datos text-primary">Ver Img</a>
                          <!--<img [src]="'data:' + row.fotoComprobanteContentType + ';base64,' + row.fotoComprobante" style="width: 100%;" *ngIf="row.fotoComprobante" alt="amortization image"/>-->
                        </div>
                        <div *ngIf="!row.fotoComprobante" class="table_datos text-warning">
                          <a href="">Sin imagen</a>
                        </div>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="imprimir">
                      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                      <mat-cell *matCellDef="let row;let i = index">
                        <a class="ng-star-inserted" [routerLink]="['/print/invoice2/' + entity.id + '/' + i ]">
                          <i class="ti-printer text-info m-r-10"></i>
                        </a>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumnsAmortizaciones"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsAmortizaciones;let i = index"></mat-row>
                  </mat-table>
                </div>
              </div>
            </div>
            <!--Detail-->
            <div fxFlex.gt-xs="30" fxFlex="100">
              <div fxLayout="row wrap ">
                <div fxFlex.gt-xs="40" fxFlex="100">
                  <div fxLayout="column">
                    <span class="title_amortizaciones_detail">Sub Total S/.</span>
                  </div>
                </div>
                <div fxFlex.gt-xs="60" fxFlex="100">
                  <div style="margin-left: 5px" fxLayout="column">
                    <span>S/.{{parseFloatCustom(entity.subTotal)}}</span>
                  </div>
                </div>
                <div fxFlex.gt-xs="40" fxFlex="100">
                  <div fxLayout="column">
                    <span class="title_amortizaciones_detail">Igv:</span>
                  </div>
                </div>
                <div fxFlex.gt-xs="60" fxFlex="100">
                  <div style="margin-left: 5px" fxLayout="column">
                    <span>S/.{{parseFloatCustom((entity.subTotal * entity.impuesto) / 100)}}</span>
                  </div>
                </div>

                <div fxFlex.gt-xs="40" fxFlex="100">
                  <div fxLayout="column">
                    <span class="title_amortizaciones_detail">Total:</span>
                  </div>
                </div>
                <div fxFlex.gt-xs="60" fxFlex="100">
                  <div style="margin-left: 5px" fxLayout="column">
                    <span>S/.{{parseFloatCustom(entity.montoTotal)}}</span>
                  </div>
                </div>

                <div fxFlex.gt-xs="40" fxFlex="100">
                  <div fxLayout="column">
                    <span class="title_amortizaciones_detail">Amortizado:</span>
                  </div>
                </div>
                <div fxFlex.gt-xs="60" fxFlex="100">
                  <div style="margin-left: 5px" fxLayout="column">
                    <!--<span>S/. 100</span>-->
                    <span>S/.{{parseFloatCustom(getMontoAmortizado())}}</span>
                  </div>
                </div>

                <div fxFlex.gt-xs="40" fxFlex="100">
                  <div fxLayout="column">
                    <span class="title_amortizaciones_detail">Saldo:</span>
                  </div>
                </div>
                <div fxFlex.gt-xs="60" fxFlex="100">
                  <div style="margin-left: 5px" fxLayout="column">
                    <!--<span>S/. 150</span>-->
                    S/.{{parseFloatCustom(entity.montoTotal - getMontoAmortizado())}}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>

      </mat-card-content>

    </mat-card>
  </div>
</div>


<!--<div style="margin-left: 5px" fxLayout="column">-->
  <!--<span class="title_sub_total">Sub Total S/.{{parseFloatCustom(entity.subTotal)}}</span>-->
  <!--<span class="title_sub_total"></span>-->
  <!--<span class="title_sub_total">Total:</span>-->
  <!--<span class="title_sub_total">T Pagos:</span>-->
  <!--<span class="title_sub_total">Saldo:</span>-->
<!--</div>-->
