<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="conceptOperationInput">
            <h2><span>Concept Operation Input</span> {{conceptOperationInput.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{conceptOperationInput.value}}</span>
                </dd>
                <dt><span>Meta Data</span></dt>
                <dd>
                    <span>{{conceptOperationInput.metaData}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/concept-operation-input', conceptOperationInput.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
