<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-heading">Create or edit a Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!product.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="product.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="product.code" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="product.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dni">Dni</label>
                    <input type="number" class="form-control" name="dni" id="field_dni"
                        [(ngModel)]="product.dni" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_expirationDate">Expiration Date</label>
                    <div class="input-group">
                        <input id="field_expirationDate" type="text" class="form-control" name="expirationDate" ngbDatepicker  #expirationDateDp="ngbDatepicker" [(ngModel)]="product.expirationDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expirationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isFavorite">Is Favorite</label>
                    <input type="checkbox" class="form-control" name="isFavorite" id="field_isFavorite"
                        [(ngModel)]="product.isFavorite" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_visibleToSell">Visible To Sell</label>
                    <input type="checkbox" class="form-control" name="visibleToSell" id="field_visibleToSell"
                        [(ngModel)]="product.visibleToSell" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + product.imageContentType + ';base64,' + product.image" style="max-height: 100px;" *ngIf="product.image" alt="product image"/>
                        <div *ngIf="product.image" class="form-text text-danger clearfix">
                            <span class="pull-left">{{product.imageContentType}}, {{byteSize(product.image)}}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, product, 'image', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                        [(ngModel)]="product.image" />
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                        [(ngModel)]="product.imageContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stock">Stock</label>
                    <input type="number" class="form-control" name="stock" id="field_stock"
                        [(ngModel)]="product.stock" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stockLimitNotification">Stock Limit Notification</label>
                    <input type="number" class="form-control" name="stockLimitNotification" id="field_stockLimitNotification"
                        [(ngModel)]="product.stockLimitNotification" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_productType">Product Type</label>
                    <select class="form-control" name="productType" [(ngModel)]="product.productType" id="field_productType" >
                        <option value="BIENES">BIENES</option>
                        <option value="SERVICIOS">SERVICIOS</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_unitMeasurement">Unit Measurement</label>
                    <select class="form-control" id="field_unitMeasurement" name="unitMeasurement" [(ngModel)]="product.unitMeasurementId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unitMeasurementOption.id" *ngFor="let unitMeasurementOption of unitmeasurements; trackBy: trackUnitMeasurementById">{{unitMeasurementOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" [(ngModel)]="product.categoryId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_variants">Variants</label>
                    <select class="form-control" id="field_variants" multiple name="variants" [(ngModel)]="product.variants">
                        <option [ngValue]="getSelected(product.variants, variantOption)" *ngFor="let variantOption of variants; trackBy: trackVariantById">{{variantOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
