<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sell-has-product-heading">Create or edit a Sell Has Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sellHasProduct.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sellHasProduct.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="sellHasProduct.quantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_discount">Discount</label>
                    <input type="number" class="form-control" name="discount" id="field_discount"
                        [(ngModel)]="sellHasProduct.discount" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sell">Sell</label>
                    <select class="form-control" id="field_sell" name="sell" [(ngModel)]="sellHasProduct.sellId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sellOption.id" *ngFor="let sellOption of sells; trackBy: trackSellById">{{sellOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_variant">Variant</label>
                    <select class="form-control" id="field_variant" name="variant" [(ngModel)]="sellHasProduct.variantId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="variantOption.id" *ngFor="let variantOption of variants; trackBy: trackVariantById">{{variantOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
