<!-- [INIT MOBILE MENU] -->
<div id="mySidenav" class="sidenav" [ngStyle]="{
          'width': sideNavDisplayFlag ? '290px' : '0',
          'border': sideNavDisplayFlag ? '1px solid #cccccc' : '0'}">
  <div class="basicrow">
    <div class="mt-name vcenter">
      <div class="tabcell">
        Hola Bethzaida
      </div>

      <div (click)="changeSideNavDisplay()" class="mclosex roboto-l">
        x
      </div>
    </div>

    <div class="mcolorbar">
      <div class="mredbar"></div>

      <div class="mbluebar"></div>

      <div class="mgraybar"></div>
    </div>
  </div>

  <a href="#" class="m-menubar vcenter">
				<span class="tabcell">
					Mi Cuenta

					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</span>
  </a>

  <a href="#" class="m-menubar vcenter">
				<span class="tabcell">
					Facturas y Pagos

					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</span>
  </a>

  <a href="#" class="m-menubar vcenter">
				<span class="tabcell">
					Mi Consumo

					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</span>
  </a>

  <a href="#" class="m-menubar vcenter">
				<span class="tabcell">
					Mis Equipos y Servicios

					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</span>
  </a>

  <a href="#" class="m-menubar vcenter">
				<span class="tabcell">
					Mi Perfil

					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</span>
  </a>

  <a href="#" class="m-menubar vcenter">
				<span class="tabcell">
					Compras

					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</span>
  </a>

  <a href="#" (click)="changeSideNavDisplay()" class="m-menubar vcenter">
				<span class="tabcell">
					Cerrar Sesi&oacute;n

					<i class="fa fa-times-circle" aria-hidden="true"></i>
				</span>
  </a>
</div>

<div (click)="changeSideNavDisplay()" id="afullbg" [ngStyle]="{
          'display': sideNavDisplayFlag ? 'inline' : 'none' }"></div>
<!-- [END MOBILE MENU] -->

<a href="#" class="chatelement hidden-xs hidden-sm">
			<span class="chate-icon text-center">
				<img width="100%" src="../../assets/images/atenicon.png">
			</span>

  <span class="chate-t text-center">
				Chat<br/>
				Asistente<br/>
				Virtual
			</span>
</a>

<div id="wrapper">
  <div class="allcont logsize">
    <div class="basicrow">
      <div class="htopbar">
        <div class="container vcenter">
          <div class="tabcell">
            <div class="autorow pull-left">
              <div class="autorow pull-left d-twlv arrw">
                <select>
                  <option>
                    Personas
                  </option>
                </select>
              </div>

              <div class="autorow pull-left h-twlv">
                <a href="#" class="on">Personas</a>
                <a class="m-sides" href="#">Negocios</a>
                <a href="#">Empresas</a>
              </div>
            </div>

            <div class="autorow pull-right">
              <div class="autorow pull-left h-twlv-ii">
                <img class="bandera" width="100%" src="../../assets/images/bandera.png">
              </div>

              <div class="autorow pull-left d-twlv-ii">
                <a href="#"><img width="100%" class="atenicon" src="../../assets/images/atenicon.png"> Chat</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="menubar">
        <div class="container rel">
          <a href="#" class="mc-logo mcenter">
								<span class="autocont vcenter">
									<span class="tabcell">
										<img width="100%" src="../../assets/images/miclaro-logo.png">
									</span>
								</span>
          </a>

          <div class="autocont ntif f-reg roboto-m">
            <div class="notifc">
              2
            </div>

            <div data-toggle="collapse" data-target="#tab" class="autocont vcenter">
              <div class="tabcell">
                <i class="fa fa-user" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Hola Bethzaida <i class="fa fa-angle-down" aria-hidden="true"></i></span>
              </div>
            </div>

            <div id="tab" class="collapse">
              <div class="notifpopover">
                <img class="ntf-tr" width="100%" src="../../assets/images/ntf-triangle.png">

                <div class="ntfboard vcenter">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

                  <div class="tabcell">
                    <span class="roboto-black">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit.
                  </div>
                </div>

                <div class="ntfboard vcenter">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

                  <div class="tabcell">
                    Idipiscing elit psum consectetur.
                  </div>
                </div>

                <div class="ntfboard vcenter">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

                  <div class="tabcell">
                    ConsecteturI <span class="roboto-black">dipiscing</span> elit psum dolor sit amet.
                  </div>
                </div>

                <div class="ntfboard vcenter">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

                  <div class="tabcell">
                    Ipsum consectetur lorem ipsum mori.
                  </div>
                </div>

                <a href="#" class="ntfseemore">
                  Ver todas las notificaciones&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>

          <div (click)="changeSideNavDisplay()" class="autorow pull-right visible-xs visible-sm">
            <div class="mnu-icon">
              <div class="autocont vcenter">
                <div class="tabcell">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="basicrow m-top-ii m-bott-i f-black f-lsemi roboto-l visible-sm visible-xs">
      <div class="container">
        Hola Bethzaida
      </div>
    </div>

    <div class="basicrow">
      <div class="acctypescont text-center">
        <div class="acctype on">
          <div class="autocont full vcenter">
            <div class="tabcell">
              <img width="100%" src="../../assets/images/postpaid-icon.png"> Postpago
            </div>
          </div>
        </div>

        <div class="acctype">
          <div class="autocont full vcenter">
            <div class="tabcell">
              <img width="100%" src="../../assets/images/prepaid-icon.png"> Prepago
            </div>
          </div>
        </div>

        <div class="acctype">
          <div class="autocont full vcenter">
            <div class="tabcell">
              <img width="100%" src="../../assets/images/fixedphone-icon.png"> Telefon&iacute;a Fija
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="basicrow m-top-i lessm">
      <div class="container">
        <div class="autowcont m-top">
          <div class="basicrow msidespad">
            <div class="b-title">
              <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                <div class="tabcell">
                  Balance
                </div>
              </div>
            </div>
          </div>

          <div class="basicrow msidespad m-top-u-i">
            <div class="balancesptr-i">
              <label class="label-r">N&uacute;mero de Cuenta</label>

              <div class="basicrow">
                <select class="sel-f">
                  <option>1727704700</option>
                </select>
              </div>
            </div>

            <div class="balancesptr-iicont">
              <div class="balancesptr-ii text-center">
										<span class="roboto-b">
											Balance Pendiente
										</span><br/>

                <span class="f-red f-lsemi roboto-b">
											&#36;174.87
										</span>
              </div>

              <div class="balancesptr-ii no-brd-i text-center">
										<span class="roboto-b">
											Su Factura Vence
										</span><br/>

                <span class="f-black f-big roboto-b">
											09/07/2018
										</span>
              </div>
            </div>

            <div class="basicrow m-bott visible-md visible-sm">
              <div class="logline full"></div>
            </div>

            <div class="balancesptr-iii">
              <label class="label-r roboto-b">Monto a Pagar (&#36;)</label>

              <div class="basicrow rel">
                <img class="q-t-pay" width="100%" src="../../assets/images/tooltip1.png">

                <input value="&#36;174.87" class="inp-f payup qt">

                <a href="#" class="btns red payup vcenter">
											<span class="tabcell">
												Pagar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
											</span>
                </a>
              </div>
            </div>

            <div class="basicrow m-bott visible-xs">
              <div class="logline full"></div>
            </div>

            <div class="balancesptr-iv f-reg roboto-r text-center">
              <div class="basicrow m-top-u">
                Fecha de Factura<br/>
                <span class="roboto-b">09/19/2018</span>
              </div>
            </div>

            <div class="balancesptr-iv no-brd f-reg roboto-r text-center">
              <div class="basicrow m-top-u">
                &Uacute;ltimo Pago<br/>
                <span class="roboto-b">&#36;180.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="basicrow m-top-i">
      <div class="row dashboard">
        <div class="dashconts">
          <a href="#" class="dashbox gray vcenter">
								<span class="tabcell">
									<span class="icon-dash-01"></span>
									Factura y Pago
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox blue vcenter">
								<span class="tabcell">
									<span class="icon-dash-02"></span>
									Consumo de Voz, Mensajeria y Roaming
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox red vcenter">
								<span class="tabcell">
									<span class="icon-dash-03"></span>
									Consumo de Datos
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox white vcenter">
								<span class="tabcell">
									<span class="icon-dash-04"></span>
									Mis Equipos y Servicios
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox blue vcenter">
								<span class="tabcell">
									<span class="icon-dash-05"></span>
									Cambio de Plan
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox red vcenter">
								<span class="tabcell">
									<span class="icon-dash-06"></span>
									Consulta tu Equipo
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox white vcenter">
								<span class="tabcell">
									<span class="icon-dash-07"></span>
									Tienda
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox blue vcenter">
								<span class="tabcell">
									<span class="icon-dash-08"></span>
									Compra de Paquetes Adicionales de Datos
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox gray vcenter">
								<span class="tabcell">
									<span class="icon-dash-09"></span>
									Regala 1 GB a un Amigo/a o Familiar Postpago​
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox red vcenter">
								<span class="tabcell">
									<span class="icon-dash-10"></span>
									Regala una Recarga Prepago
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox white vcenter">
								<span class="tabcell">
									<span class="icon-dash-11"></span>
									Factura Electr&oacute;nica
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox gray vcenter">
								<span class="tabcell">
									<span class="icon-dash-12"></span>
									Preferencias de Notificaciones
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox blue vcenter">
								<span class="tabcell">
									<span class="icon-dash-13"></span>
									Soporte
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox red vcenter">
								<span class="tabcell">
									<span class="icon-dash-14"></span>
									Administra tu Cuenta
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox gray vcenter">
								<span class="tabcell">
									<span class="icon-dash-15"></span>
									Asociar Cuenta
								</span>
          </a>
        </div>

        <div class="dashconts">
          <a href="#" class="dashbox red vcenter">
								<span class="tabcell">
									<span class="icon-dash-16"></span>
									Netflix
								</span>
          </a>
        </div>
      </div>
    </div>

    <div class="basicrow m-top-i m-bott">
      <div class="container">
        <img width="100%" src="../../assets/images/clarobanneriphxr.jpg">
      </div>
    </div>
  </div>

  <div class="allfootcont">
    <div class="footcont">
      <div class="container vcenter">
        <div class="tabcell">
          <div class="autorow pull-left full-c">
            <img width="100%" class="footlogo" src="../../assets/images/footlogo.png">Todos los derechos reservados, Claro 2018
          </div>

          <div class="autorow pull-right full-c">
            <a class="linkdefs" href="#">Legal y Regulatorio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
